<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
	xmlns="http://ibatis.apache.org/dataMapper" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<!-- 啟用暫存 -->
		<setting cacheModelsEnabled="true"/>
		<!-- 配置是否使用名称空间这里建议写成true -->
		<setting useStatementNamespaces="true" />

	</settings>
	
	<!-- 數據庫連接配置-->
	<providers resource="DBSource/Config/providers.config" />

	<database>
		<provider name="PostgreSql3.0.7.0"/>
		
		<dataSource name="prj_BIZ_System" connectionString="Server=192.168.1.20;Port=5433;User Id=postgres;Password=postgres;Database=biz_web_develop;"/>
	</database>
	
	<sqlMaps> 
		<sqlMap resource="DBSource/SqlString/ActivityInfo.xml"/>
		<sqlMap resource="DBSource/SqlString/UserInfo.xml"/>
		<sqlMap resource="DBSource/SqlString/Push.xml"/>
		<sqlMap resource="DBSource/SqlString/Match.xml"/>
		<sqlMap resource="DBSource/SqlString/Manager.xml"/>
		<sqlMap resource="DBSource/SqlString/Password.xml"/>
		<sqlMap resource="DBSource/SqlString/Message.xml"/>
    <sqlMap resource="DBSource/SqlString/Cluster.xml"/>
  </sqlMaps>
	
</sqlMapConfig>
