@model prj_BIZ_System.Models.CatalogListModel

@{
    ViewBag.Title = "CatalogCreate";
}

@section pagestyle{
    <link href="/stylesheets/registerd.css" rel="stylesheet" />
}


<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial");
    }
    <article class="article_col2 form_box">
        <h2>上傳型錄</h2>
        <form id="form" action="@Url.Action("CatalogUpload","User")" class="uploaddm" method="post" enctype="multipart/form-data">
			<div class="uploadlist dmname">
				<label for="catalog_name">型錄名稱:</label>
				<input type="text" id="catalog_name" name="catalog_name">
			</div>		
            <div class="uploadlist">
                <label class="choose_file" id="upload" for="cover_file">上傳封面</label>
                <input type="file" id="cover_file" name="cover_file">
            </div>
            <div class="uploadlist">
                <label class="choose_file" id="upload" for="catalog_file">上傳檔案</label>
                <input type="file" id="catalog_file" name="catalog_file">
            </div>
            <div class="centerbox">
                <button type="submit" class="submitbu">確定送出</button>
            </div>
        </form>
    </article>
</div>

<script>
    $(function () {
        init();
    });

    function init() {
        var re_for_pic = /\.(jpg|gif|png|JPG|GIF|PNG)$/i;
        var re_for_pdf = /\.(pdf|PDF)$/i;
        $("#form").submit(function () {
            var catalog_name = $("#catalog_name").val();
            var errMsg = checkValidationOk(catalog_name);
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }

            var pic = $("input[name='cover_file']").val();
            if (!re_for_pic.test(pic)) {
                alert("上傳小圖 必須為 jpg、gif、png ");
                return false;
            }

            var file = $("input[name='catalog_file']").val();
            if (!re_for_pdf.test(file))
            {
                alert("上傳檔案 必須為 pdf檔");
                return false;
            }
            $("#loaderdiv").css("display", "block");
        });
    }

    function checkValidationOk(catalog_name) {
        var errMsg = '';
        if (catalog_name == null || catalog_name == '') {
            errMsg += '型錄名稱不可為空白\n';
        } 
        return errMsg;
    }
</script>