@using prj_BIZ_System.Models
@model IEnumerable<prj_BIZ_System.Models.ProductListModel>

@{
    ViewBag.Title = "ProductList";
}
@section pagestyle{
    <!--<link href="/stylesheets/registerd.css" rel="stylesheet" />-->
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}
    <article class="article_col1">
        <section class="form_box w100 article_col1">
            <h2>崴奕公寓大廈管理維護有限公司</h2>
            <div class="databubox">
                <a href="company_info.html" class="databu databu05">公司資料</a>
                <a href="company_info_product.html" class="databu databu02 active">產品介紹</a>
                <a href="company_info_dm.html" class="databu databu03">線上型錄</a>
                <a href="company_info_dm_movie.html" class="databu databu04">影音型錄</a>
            </div>
            <ul class="productlist">
                @if(Model!=null && Model.Count() > 0)
                {
                    foreach(ProductListModel md in Model)
                    {
                        <li>
                            <div class="imgbox">
                                <img src="../../images/product/p1.jpg" alt="">
                            </div>
                            <div class="producttext">
                                <h3>產品名稱: @md.product_name </h3>
                                <p>型號: @md.model_no </p>
                            </div>
                            <div class="productbu">

                                <a href='@Url.Action("ProductDetail","User",new { product_id = md.product_id })' class="deleteSbu">詳細內容</a>
                            </div>
                        </li>
                    }
                }
                else
                {

                }
                <!--
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p2.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p3.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
            </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p4.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
</div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p5.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p6.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p7.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p8.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p9.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
                    </div>
                </li>
                <li>
                    <div class="imgbox">
                        <img src="../../images/product/p10.jpg" alt="">
                    </div>
                    <div class="producttext">
                        <h3>產品名稱: The 1080P Hight Definition Mobile DVR </h3>
                        <p>型號:HDVR</p>
                    </div>
                    <div class="productbu">

                        <a href="company_info_product_detailed.html" class="deleteSbu">詳細內容</a>
                    </div>
                </li>
                -->
            </ul>
            <p style="margin-top:10px">
                總共40筆
            </p>
            <ul class="pagelist magb30">
                <li><a href="">&lt;</a></li>

                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="">8</a></li>
                <li><a href="">9</a></li>
                <li><a href="">10</a></li>

                <li><a href="">&gt;</a></li>
            </ul>

        </section>

    </article>	
<script>
    $(function () {
        //init();
            });
    function init() {


    }
</script>