@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Manager_ViewModel

@{
    ViewBag.Title = "Group";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1">			
	<form class="form_box sys_searchbox">	
		<h2>帳號匯入</h2>					
				
			<a href="@Url.Content("~/Content/Template/Import/user_import_sample.xls")" class="deleteSbu">下載範本</a>

			<label class="addbublue" id="upload" for="upexl">上傳excel</label>
			<input type="file" id="upexl" name="iupexl">
			<input type="text" id="upexl_name" name="upexl_name">

			<a href="javascript:void(0)" class="addbu">確定匯入</a>
						
	</form>
	<article>
		<h2 class="borderTitle2">上傳excel預覽</h2>
		<table class="edittable">
			<tr>
				<th>狀態</th>
				<th>帳號</th>
				<th>公司名稱</th>
				<th>代表人</th>
				<th>電話</th>
				<th>電子郵件</th>
			</tr>
			<tr>
				<td>
					<span class="import_ok">匯入成功</span>
				</td>
				<td>808680205</td>
				<td>AA公司</td>
				<td>代表人</td>
				<td>
					02-2598-3887					
				</td>
				<td>
					test@gmial.com	
				</td>
			</tr>
			<tr>
				<td>
					<span class="import_no">帳號重覆</span>
				</td>
				<td>808680205</td>
				<td>AA公司</td>
				<td>代表人</td>
				<td>
					02-2598-3887					
				</td>
				<td>
					test@gmial.com	
				</td>
			</tr>
			<tr>
				<td>
					<span class="import_no">資料錯誤</span>
				</td>
				<td>808680205</td>
				<td>AA公司</td>
				<td>代表人</td>
				<td>
					02-2598-3887					
				</td>
				<td>
					test@gmial.com	
				</td>
			</tr>
			<tr>
				<td>
					<span class="import_ok">匯入成功</span>
				</td>
				<td>808680205</td>
				<td>AA公司</td>
				<td>代表人</td>
				<td>
					02-2598-3887					
				</td>
				<td>
					test@gmial.com	
				</td>
			</tr>
					
					
		</table>			
		<ul class="pagelist">
			<li><a href="">&lt;</a></li>
			
			<li><a href="">1</a></li>
			<li><a href="">2</a></li>
			<li><a href="">3</a></li>
			<li><a href="">4</a></li>
			<li><a href="">5</a></li>
			<li><a href="">6</a></li>
			<li><a href="">7</a></li>
			<li><a href="">8</a></li>
			<li><a href="">9</a></li>
			<li><a href="">10</a></li>
					
			<li><a href="">&gt;</a></li>
		</ul>			
	</article>	
</div>