@model prj_BIZ_System.Models.Sales_ViewModel

@{
    ViewBag.Title = "SalesInfo";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1">
    <form class="form_box sys_searchbox magb30">
        <h2>業務會員帳號查詢</h2>
        <div class="sys_searchboxcol01L">
            <label for="" class="regis_col02L">帳號</label>
            <input type="text" name="where_sales_id" class="regis_col02R">

            <label for="" class="regis_col02L">公司名稱</label>
            <input type="text" name="where_company" class="regis_col02R">
        </div>
        <div class="sys_searchboxcol01R">
            <button type="submit" class="buinfor">搜尋</button>
        </div>
    </form>

    <div class="sys_searchboxco2">
        <article>
            <h2 class="borderTitle2">查詢結果</h2>

            <table class="edittable">
                <tr>
                    <th>帳號</th>
                    <th>公司名稱</th>
                    <th>電話</th>
                    <th>詳細資料</th>
                </tr>
                <tr>
                    <td>aaaa</td>
                    <td>新北市電腦公會</td>
                    <td>02-2598-3887</td>
                    <td>
                        <div class="centerbox">
                            <a href="javascript:void(0)" class="deletebu">詳細資料</a>
                            <a href="javascript:void(0)" class="editbu editopen">重設密碼</a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>aaaa</td>
                    <td>新北市電腦公會</td>
                    <td>02-2598-3887</td>
                    <td>
                        <div class="centerbox">
                            <a href="javascript:void(0)" class="deletebu">詳細資料</a>
                            <a href="javascript:void(0)" class="editbu editopen">重設密碼</a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>aaaa</td>
                    <td>新北市電腦公會</td>
                    <td>02-2598-3887</td>
                    <td>
                        <div class="centerbox">
                            <a href="javascript:void(0)" class="deletebu">詳細資料</a>
                            <a href="javascript:void(0)" class="editbu editopen">重設密碼</a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>aaaa</td>
                    <td>新北市電腦公會</td>
                    <td>02-2598-3887</td>
                    <td>
                        <div class="centerbox">
                            <a href="javascript:void(0)" class="deletebu">詳細資料</a>
                            <a href="javascript:void(0)" class="editbu editopen">重設密碼</a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>aaaa</td>
                    <td>新北市電腦公會</td>
                    <td>02-2598-3887</td>
                    <td>
                        <div class="centerbox">
                            <a href="javascript:void(0)" class="deletebu">詳細資料</a>
                            <a href="javascript:void(0)" class="editbu editopen">重設密碼</a>
                        </div>
                    </td>

                </tr>

            </table>
            <ul class="pagelist">
                <li><a href="">&lt;</a></li>

                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="">8</a></li>
                <li><a href="">9</a></li>
                <li><a href="">10</a></li>

                <li><a href="">&gt;</a></li>
            </ul>
        </article>
    </div>
    <div class="sys_searchboxco2">
        <form action="" class="form_box">
            <h2>詳細資料</h2>
            <label for="leader" class="regis_col02L spanRed">帳號</label>
            <span class="regis_col02R">308541</span>

            <label for="addr" class="regis_col02L">業務名稱</label>
            <span class="regis_col02R">業務A</span>

            <label for="addr" class="regis_col02L">電話</label>
            <span class="regis_col02R">02-25983887</span>

            <label for="email" class="regis_col02L spanRed">電子郵件</label>
            <span class="regis_col02R">test@gmail.com</span>
        </form>
    </div>
</div>


