@model prj_BIZ_System.Models.Sales_ViewModel

@{
    ViewBag.Title = "SalesInfo";
}

@section pagestyle{
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1s">
    <form  action="@Url.Action("SalesInfoUpdate","Sales")" class="form_box sys_searchbox">
        <h2>業務帳號管理</h2>
        <label for="leader" class="regis_col02L">業務帳號</label>
        <span class="regis_col02R">roger</span>

        <label for="addr" class="regis_col02L">業務姓名</label>
        <input type="text" class="regis_col02R" name="sales_name">

        <label for="addr" class="regis_col02L">電話</label>
        <input type="text" class="regis_col02R" name="phone">

        <label for="email" class="regis_col02L">電子郵件</label>
        <input type="text" class="regis_col02R" name="email">

        <label for="password" class="regis_col02L">舊密碼</label>
        <input type="password" class="regis_col02R" name="old_sales_pw">
        <label for="password" class="regis_col02L">新密碼</label>
        <input type="password" class="regis_col02R" name="new_sales_pw">
        <label for="password" class="regis_col02L">新密碼確認</label>
        <input type="password" class="regis_col02R" name="new_sales_pw2">
        <div class="centerbox">
            <button type="submit" class="buinfor">確定修改</button>
        </div>

    </form>

</div>

<script src="~/Scripts/util_cls.js" type="text/javascript"></script>
<script>
    $(function () {
        init();
    })

    function init() {
        
    }

    function chksales() {

        var sales_id = $("input[name='sales_id']").val();
        if (sales_id != null && sales_id != '') 
        {
            $.ajax({
                type: "get",
                url: "@Url.Action("CheckSales", "Sales")",
                cache: false,
                data: { "sales_id": sales_id },
                dataType: "json"
            }).done(function (result) {
                if (result != null) {
                    var Huser = result;
                    if (Huser === false) {
                    } else {
                        alert("該使用帳號已被使用!!");
                        $("input[name='sales_id']").focus();                
                    }
                }
                else {
                }
            });
    }
    }
</script>

