<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>生產力2.0</title>
	<link rel="stylesheet" href="../../stylesheets/screen.css">
	<link rel="stylesheet" href="../../stylesheets/aboutus.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
	<main class="main2">	
		<article>
			<section class="about_title">				
				<h2>關於我們</h2>
				<p>
                    【BIZ】是新北市政府經濟發展局委託新北市電腦商業同業公會及
                    昕傳科技股份有限公司於2016年成立的行動商務管理平台及APP，
                    希望藉此強化產業供應鏈管理及策略性合作夥伴的關係，本平台整
                    合商機拓展、市場開發、技術交流等服務，會員能有效率地運用產
                    業及聚落的資源，協助業者突破組織既有封閉的疆界，以創新的商
                    業模式促使產業升級。如有同業先進欲了解平台串接或系統合作事
                    宜，請聯繫服務窗口，謝謝!
				</p>				
			</section>
			<div id="waveBox">
				<section class="about_text wavemove">
					<h3 class="about_text_t1">產業會員</h3>
					<p>
						免費加入產業會員，讓您的企業資訊、商品型錄被更多潛在客戶看見，
						還可以對內管理業務、PM的工作進度，輕鬆的進行企業管理。
					</p>
				</section>
				<section  class="about_text wavemove">
					<h3 class="about_text_t2">產業聚落</h3>
					<p>
						邀請您常合作的商業夥伴一起加入，組成聚落可以分享文件、訂單、訊息以及業界新聞，讓商業夥伴一有商機就想到您!
					</p>
				</section>
				<section  class="about_text wavemove">
					<h3  class="about_text_t3">活動媒合</h3>
					<p>
						由新北市電腦公會定期發布商洽會資訊，您可以於本平台報名，我們會依您的喜好媒合活動廠商，讓您不虛此行。
					</p>
				</section>
				<section  class="about_text wavemove">
					<h3  class="about_text_t4">訂單管理</h3>
					<p>
						從業務開發、客戶報價、訂單管理到生產安排，我們提供簡單易懂的報表，方便您與客戶雙向追蹤進度，掌握業績與商機。
					</p>
				</section>
			</div>
			
		</article>
	</main>
	<script src="js/regis.js"></script>
</body>
</html>