@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Index_ViewModel

@{
    ViewBag.Title = "Activity";
}
@section pagestyle{
    <link href="~/stylesheets/news.css" rel="stylesheet" />
}

<div class="article_col1">
    <article class="article_col2">
        <h2 class="borderTitle">@prj_BIZ_System.LanguageResource.User.lb_latest_activity</h2>

        <ul class="news_list listlink">
            @foreach (var activityList in Model.activityinfoList)
            {
            <li>
                <a href="~/Activity/ActivityInfo?Id=@activityList.activity_id" class=news_activity>
                    <span>@activityList.starttime.ToShortDateString()</span>
                    @activityList.activity_name
                </a>
            </li>
            }

        </ul>
        @Html.PagesList((List<PageList<ActivityInfoModel>>)ViewData["PageList"])


    </article>
    @{
        Html.RenderAction("_HomeLeftPartial", "Home");
    }


</div>
