@using prj_BIZ_System.Models

@{
    ViewBag.Title = "AppDownload";
}
@section pagestyle{
    <link href="~/stylesheets/appdownload.css" rel="stylesheet" />
}

		<article>
			<div class="appdown">
				<h1>@prj_BIZ_System.LanguageResource.User.lb_app_download_title</h1>
				<p>@prj_BIZ_System.LanguageResource.User.lb_app_download_subtitle</p>
				<ul class="appdown_qr">
					<li>
						<span>Android</span>
						<img src="../../images/androidqr.png" alt="">
					</li>
					<li>
						<span>ios</span>
						<img src="../../images/iosqr.jpg" alt="">
					</li>
				</ul>	
			</div>
			<img src="../../images/bg/hand.png" alt="hand" class="handimg">
		</article>