@using prj_BIZ_System.Models

@{
    ViewBag.Title = "AppDownload";
}
@section pagestyle{
    <link href="~/stylesheets/appdownload.css" rel="stylesheet" />
}

		<article>
			<div class="appdown">
				<h1>BIZ 行動版</h1>
				<p>產業升級 智慧管理</p>
				<ul class="appdown_qr">
					<li>
						<span>Android</span>
						<img src="../../images/wait_app.jpg" alt="">
					</li>
					<li>
						<span>ios</span>
						<img src="../../images/iosqr.jpg" alt="">
					</li>
				</ul>	
			</div>
			<img src="../../images/bg/hand.png" alt="hand" class="handimg">
		</article>