<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>生產力2.0</title>
	<link rel="stylesheet" href="../../stylesheets/screen.css">
	<link rel="stylesheet" href="../../stylesheets/errfile.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
	<main class="main2">	
		<article>
			<h2>功能製作中，敬請見諒</h2>
			<a href="/Home/Index">回首頁</a>
		</article>	
	</main>
	<script src="js/regis.js"></script>
</body>
</html>