@using prj_BIZ_System.Models

@{
    ViewBag.Title = "ForgetPassword";
}

@section pagestyle{
    <link href="/stylesheets/password_edit.css" rel="stylesheet" />
}
<div class="article_col1">
    @*@{
        Html.RenderAction("_NavSearchPartial", "User");
    }*@
    <article class="article_col2">
        <form id="form" action="@Url.Action("ReSetPassword","Home")" class="form_box" method="post">
            <h2>忘記密碼</h2>
            <p>
                若您忘記密碼，請輸入註冊時的帳號及Email，<br />
                系統將送一組預設密碼給您，<br />
                如有疑問，請洽系統管理人員，謝謝。
            </p>
            <ul class="loginbox">
                <li>
                    <label for="">帳號:</label>
                    <input type="text" name="user_id" text=""><br>
                </li>
                <li>
                    <label for="">E-mail:</label>
                    <input type="email" name="email" text=""><br>
                </li>

            </ul>
            <div class="centerbox">
                <button class="buinfor" type="submit">確定送出</button>
            </div>
        </form>
    </article>
</div>

<script>
    $(function() {
         @if (!string.IsNullOrEmpty((string)TempData["fp_errMsg"]))
         {
            <text>
            function check() {
                var pw_errMsg = '@TempData["fp_errMsg"]';
                if (pw_errMsg != '')
                 {
                      alert(pw_errMsg);
                 }
            }
            check();
            </text>
        }

        $("#form").submit(function () {
            var user_id = $("input[name='user_id']").val();
            var email = $("input[name='email']").val();
            var errMsg = checkValidationOk(user_id, email);
            if (errMsg != '') {
                alert(errMsg);
                return false;
            }
        });

    });

    function checkValidationOk(user_id, email) {
        var errMsg = '';
        if (user_id == null || user_id == '') {
            errMsg += '帳號不可為空白\n';
        }
        if (email == null || email == '') {
            errMsg += 'E-mail不可為空白\n';
        }

        return errMsg;
    }
</script>