@{
    ViewBag.Title = "Login";
}

@section pagestyle{
    <link href="/stylesheets/login.css" rel="stylesheet" />
}

<div class="loginbox">
    <form id="form" action="~/Home/IdentifyUser">
        <ul class="loginboxR">
            <li>
                <label for="">帳號:</label>
                <input type="text" name="user_id" text=""><br>
            </li>
            <li>
                <label for="">密碼:</label>
                <input type="text" name="user_pw" text=""><br>
            </li>
            <li>
            <span class="fontRed" id="msg"></span>
            </li>
            <li>
                <a href="/Home/ForgetPassword" class="loginbox_fpw">忘記密碼</a>
            </li>
        </ul>
        <button class="loginbox_submit" type="submit"> 登入 </button>
    </form>
    
    <a href="/User/Register?user_id=new" class="loginbox_newid">創造新帳號 </a>

</div>

<script>
    $(function () {
        loadData();
    });

    function loadData (){
        $.ajax({
            type: "GET",
            url: "@Url.Action("MailValidateResult", "Home")",
            cache: false,
            dataType: "json",
            success: function (msg) {
                if (msg != '') {
                    alert(msg);
                }
            }
        });
    }

    $(function() {
         @if (!string.IsNullOrEmpty((string)TempData["pw_errMsg"]))
        {
            <text>
            function check() {
                var pw_errMsg = '@TempData["pw_errMsg"]';
                if (pw_errMsg != '')
         {
                      $("#msg").html(pw_errMsg);
         }
         }
             check();
        </text>
    }

        $("#form").submit(function () {
            var user_id = $("input[name='user_id']").val();
            var user_pw = $("input[name='user_pw']").val();
            if (user_id == '' && user_pw == '') {
                $("#msg").html("帳號與密碼不能為空白!!");
            return false;
        }
            else if (user_id == '') {
                $("#msg").html("帳號不能為空白!!");
            return false;
        }
            else if (user_pw == '') {
                $("#msg").html("密碼不能為空白!!");
            return false;
        }
    });

    });


</script>