@{
    ViewBag.Title = "Login";
}
<div class="loginbox">
    <form action="">
        <ul class="loginboxR">
            <li>
                <label for="">帳號:</label>
                <input type="text" text=""><br>
            </li>
            <li>
                <label for="">密碼:</label>
                <input type="text" text=""><br>
            </li>
            <li>
                <a href="" class="loginbox_fpw">忘記密碼</a>
            </li>
        </ul>
        <button class="loginbox_submit" type="submit"> 登入 </button>
    </form>
    <p>
        <span class="fontRed">*</span>帳號為貴公司統一編號 <br>
        <span class="fontRed">*</span>密碼請設8個字元的英文及數字組合 <br>
        <span class="fontRed">*</span>第一次登入密碼預設為統編，登入後須立即更改密碼，且符合密碼規則
    </p>

    <a href="/User/Register" class="loginbox_newid">創造新帳號</a>
</div>
