@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Index_ViewModel

@{
    ViewBag.Title = "News";
}
@section pagestyle{
    <link href="/stylesheets/news.css" rel="stylesheet" />
}

<div class="article_col1">
@{
    Html.RenderAction("_NavSearchPartial", "User");
}
    <article class="article_col2">
        <h2 class="borderTitle">@ViewBag.tname</h2>

        <ul class="news_list listlink">
            @foreach (var newsList in Model.newsList)
            {
                string aa = "news_newspage";
                string bb = "新聞";

                if (newsList.news_type == "0")
                {
                    aa = "news_activity";
                    bb = "活動";

                }
                <li>
                    <a href="NewsView?Id=@newsList.news_no"  class=@aa>
                        <span>@bb</span>
                    @newsList.news_title</a>
                </li>
            }
        </ul>

        @Html.PagesList((PageList<NewsModel>)ViewBag.Pages)
    </article>
</div>
