<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>生產力2.0</title>
	<link rel="stylesheet" href="../../stylesheets/screen.css">
	<link rel="stylesheet" href="../../stylesheets/servicepolicy.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
	<main>	
		<article class="article_col1">
			<h1 class="titles">隱私權條款</h1>
			<section>
						[BIZ](以下稱「[BIZ]」或「本網站」)係由「昕傳科技股份有限公司」(以下稱「本公司」)所經營，為保護您的個人資料並讓您能夠更安心的使用本網站所提供的各項服務，於使用本網站前，請您詳細閱讀本「隱私權政策」，並確實遵守下述條款。當您使用本網站時，即視同您瞭解及同意本網站依據「隱私權政策」蒐集、處理與利用您的個人資料。如果您不能夠同意隱私權政策，請不要使用相關服務。我們會在您的同意下或依法於本政策詳列之相關規定分享您的資料，且我們每次對本隱私權政策進行重大變更時將通知您。您對本隱私權政策中說明的處理程序，如有任何看法與建議，請不吝與我們聯絡。
			</section>
			
			<section>
				<h2>一、適用範圍</h2>
				<ul>
					<li>此政策適用於您在本網站活動時，所涉及的資料蒐集、處理、利用與保護，包括但不限於[BIZ]處理在您使用網站服務時所蒐集到的身份識別資料、[BIZ]與商業伙伴合作時分享您的身份識別資料等。原則上您進入本網站時，並不需要輸入個人資料，但當您要註冊為[BIZ]之會員使用相關服務時，[BIZ]將會請您登錄資料，截至您通知[BIZ]停止蒐集、處理、利用您的個人資料前，[BIZ]將依您提供資料的目的，處理、利用您的各類資料。[BIZ]將會以符合法規資訊安全的標準，於您使用之服務之相關目的範圍內加以處理、利用。[BIZ]再次提醒您，若您不同意上述內容，您應該立刻停止使用本網站提供之服務。
					</li>
					<li>本網站上可能包含其他合作的外部網站資訊或其網頁連結，這些外部網站也可能會蒐集您的個人資料，但不論其內容或其隱私權政策，皆與本網站無關，請您務必瞭解並審慎決定是否要提供您的個人資料。本網站對任何外部網站的行為，均不負任何擔保或連帶責任。
					</li>
				
				</ul>
			</section>
			<section>
				<h2>二、個人資料蒐集之目的</h2>
				<ul>
					<li>本公司取得您資料，係用於客戶管理、會員管理、資訊與資料庫管理、活動報名、會員登錄及驗證、廣告行銷、服務訊息、特別活動或訊息通知、改進為您提供的網頁內容、完成您對某項產品的要求等特定目的。本公司將依您提供資料之目的，以符合法令之自動化及人工方式處理、利用您的各類資料，於取得您的書面同意前，或法律另有明文規定外，本公司絕不會將您的資料進行特定目的外之利用。</li>
				</ul>
			</section>
			<section>
				<h2>三、個人資料之類別</h2>
				<ul>
					<li>在您註冊為[BIZ]之會員、使用[BIZ]服務、購買[BIZ]服務、參加活動或其他必要情況時，本公司會請您提供您下列類別的個人資料：<br>
					(1)	C001辨識個人者：如姓名、職稱、住址、工作地址、電話號碼、相片、電子郵遞地址及其他任何可辨識資料本人者等。姓名、職稱、工作地址、電話號碼、電子郵件地址及其他。
					(2)	C038職業：如各種職業等。<br>
					(3)	C061現行之受僱情形：僱主、工作職稱、工作描述、等級、受僱日期、工作地點、產業特性等<br>
					(4)	C070工作管理之細節：現行義務與責任、工作計畫、成本、工作分配與期間、工作或特定工作所花費之時間等。
					(5)	C131書面文件之檢索：未經自動化機器處理之書面文件之索引或代號等<br>
					(6)	C132未分類之資料：例如：<br>
						<ul>
							<li>a.	您使用第三方所提供服務的存取權限：例如您的電子郵件帳號及其他存取該第三方所提供服務之必要資料。</li>
							<li>b.	記錄資料：使用[BIZ]服務時，我們會自動記錄來自您的裝置、裝置軟體以及您使用服務時的資訊。此資訊可能包括裝置的網際網路協定(Internet Protocol，IP)位址、使用時間、瀏覽器類型、開啟我們網站前您的所在網頁、您在我們網站中瀏覽及點選資料紀錄、與您的裝置連結的識別號碼、與交易相關的日期和時間戳記、系統組態設定資訊及其他您與[BIZ]服務的互動情形。</li>
							<li>c.	Cookie：為提供您個人化服務、統計瀏覽人數及分析瀏覽模式、了解網頁瀏覽的情況、方便您參與個人化的互動活動以及作為本網站改善服務的參考，我們也會使用「Cookie」(一種我們會傳輸至您裝置中的小型資料檔案)來收集資訊並改善我們的服務。</li>
						</ul>

					</li>
					
				</ul>
			</section>
			<section>
				<h2>四、不提供個人資料之影響</h2>
				<ul>
					<li>您可自由選擇是否提供您上述的個人資料，但當您不同意提供時，您將無法享有[BIZ]所提供之全部或特定會員服務。</li>
					
				</ul>
			</section>
			<section>
				<h2>五、個人資料之利用</h2>
				<ul>
					<li>利用對象：本公司、本公司其他會員（包含但不限於主帳戶下之各子帳戶會員）、管理者、受託機關、相關委外之協力廠商及與本公司合作提供服務或產品的公司(包括：為行銷建檔、揭露、轉介或交互運用予本公司及其合作對象、提供物流、金流或活動贈品之廠商)，為您個人資料利用之對象。
						
					</li>
					<li>利用期間：除本條款另有約定者外，您可隨時終止您與本公司之會員關係。本公司將於您成為會員之時起，直至您不再屬於本公司會員而通知本公司停止處理、利用或刪除您的個人資料時止或其他法令允許之期間內，處理、利用或國際傳輸您的個人資料。</li>
					<li>利用地區：本公司之個人資料主機、相關網路伺服器主機所在地及本公司/本網站相關服務或商品發行或行銷地區，為您個人資料利用之地區。</li>
					
					<li>利用目的：<br>
						(1)	當您使用[BIZ]服務時，我們可能會收集可用以與您聯絡，或是可辨識您身分的個人資料(以下簡稱為「個人資料」)。個人資料可用於或可能用於：(i)提供及改善我們的服務；(ii)管理您的服務使用需求；(iii)協助我們更進一步了解您的需求和興趣；(iv)個人化和改善您的體驗；(v)提供軟體更新及產品公告。<br>
						(2)	分析：我們也會使用記錄功能及Cookie收集部分資訊(可能自行收集或使用第三方服務)，如IP位址等，且此類資訊可能有時會與個人資訊有關。我們使用此資訊的目的如上所述，也是為了監督和分析[BIZ]服務的使用方式，讓[BIZ]服務的技術管理部門可以改善[BIZ]服務的功能、方便使用者使用、並且確認使用者都有允許[BIZ]服務處理其要求的授權。本網站僅會對全體使用者行為總和進行分析，並不會對個別使用者進行分析。本網站會對個別連線者的瀏覽器予以標示，歸納使用者瀏覽器在本網站內部所瀏覽的網頁，除非您願意告知您的個人資料，否則本網站不會、亦無法將此項紀錄和您的個人資料對應。部分分析我們會採用Google Analytics的服務，若要進一步瞭解Google Analytics的隱私權政策，請點選這裡。<br>
						(3)	Cookies：我們會使用「永續性Cookie」來儲存您的註冊ID及登入密碼，供您未來登入[BIZ]服務時使用。我們會使用「工作階段識別碼Cookie」來啟用[BIZ]服務的特定功能，藉此更進一步了解您與[BIZ]服務互動的方式，並監督[BIZ]服務的總使用量以及網路流量路由。您可以變更瀏覽器的設定，停止接受Cookie，或在接受來自您所造訪之網站的Cookie前先通知您。不過，如果不接受Cookie，您將無法享有[BIZ]所提供之全部或特定會員服務。
					</li>
					<li>利用方式：本公司將依您提供個人資料之目的，以符合法令之自動化及人工方式管理、保護、處理、使用您的各類資料，於取得您的書面同意前，絕不會將您的個人資料進行超乎上述目的的使用。</li>
				</ul>
			</section>
			<section>
				<h2>六、同意個人資料之蒐集、處理、利用或國際傳輸</h2>
				
				<ul>
					<li>您了解並同意本公司依本「使用者條款暨隱私權政策」及相關法規，蒐集、處理、利用或國際傳輸您所提供的個人資料。</li>
				</ul>
			</section>
			<section>
				<h2>七、個人資料分享及公開</h2>
				<ul>
					<li>除下列情形及本隱私權政策、[BIZ]會員服務條款、[BIZ]付費會員服務條款有記載之事由外，[BIZ]不會任意提供、出售、交換、轉讓或揭露任何您的個人資料予第三人。<br>
					(1)	本公司在與其他第三人合作提供服務或舉辦活動時，與該第三人共用、傳遞您的資料，才能夠提供您要求的產品或服務。惟[BIZ]會於各該活動頁面明確告知您的個人資料將因使用該服務或參與該活動而提供予合作之第三人，您可以自由選擇是否接受這項特定服務或優惠。如您選擇使用該服務或參與該活動，即表示您瞭解並同意將該個人資料為各該服務或活動之目的提供予合作之第三人。<br>
					(2)	基於善意相信揭露為維護和改進產品、服務而用於管理或其他目的。<br>
					(3)	本公司將因法律規定、法院命令、行政調查或其他法律程序的要求而提供您的資料，惟在此情形下，該資料只會單純提供予調查單位，並受中華民國相關法律的保護。<br>
					(4)	為了調查和防止非法活動、涉嫌詐欺、對人身安全有潛在威脅的狀況、對[BIZ]會員服務條款、[BIZ]付費會員服務條款或產品、服務的特定使用指南的違反，或者可能損害[BIZ]、[BIZ]使用者或相關第三人之權益，或為了對上述情形採取應對措施。若[BIZ]有理由相信揭露此資料係為辨識、連絡或對該人採取法律行動所必要者，[BIZ]得揭露您的個人資料。<br>
					(5)	本公司被其他公司收購或合併，我們有權利將您的個人資料移轉給該公司。如果發生這種情況，本公司會在您的個人資料被移轉且將適用不同的隱私權政策前通知您。

					</li>
				</ul>
			</section>
			<section>
				<h2>八、您對個人資料之權利</h2>
				<ul>
					<li>在不違反相關法律的情況下，於本公司確認該個人資料為您本人所有後，您可將您的需求郵寄至本公司/本網站的電子郵件信箱(service@("@")[BIZ].com)，以行使下列之權利：<br>
(1)	查詢、閱覽、補充或更正您的個人資料。<br>
(2)	停止蒐集、處理或利用您的個人資料。<br>
(3)	刪除您的個人資料。<br>
(4)	製給您個人資料的複製本。<br>
(5)	停止寄發給您本網站相關廣告及行銷活動。

					</li>
					
				</ul>
			</section>
			<section>
				<h2>九、[BIZ]子帳戶使用者</h2>
				<ul>
					<li>[BIZ]子帳戶使用者指的是主帳戶管理下同公司使用者的帳號</span>，例如業帳號務和品管帳號等。如果您是[BIZ]子帳戶使用者，您的管理者(主帳戶)可以：<br>
(1)	存取您[BIZ]帳戶中相關的資訊。<br>
(2)	揭露、限制或存取您已經提供，或您在使用[BIZ]<br>服務時選擇提供的資訊。<br>
(3)	控制[BIZ]帳戶的存取或刪除方式。

					</li>
					<li>如果貴組織啟用「保險業資料保護」，則管理員權限將受到限制，請參閱「保險業資料保護」說明。如果對於管理員的權利有任何疑問，請洽貴組織管理員。 
					</li>
				</ul>
			</section>
			<section>
				<h2>十、客戶資料</h2>
				<ul>
					<li>您可能於本網站中輸入資料，以使用[BIZ]客戶管理、工作管理、商機管理等服務 ( 以下稱此類資料為「客戶資料」)。[BIZ]不會主動檢閱、共用、散佈或參考任何此類「客戶資料」，但依法律所要求之情況則不在此限。[BIZ]僅能基於提供服務、預防或解決服務或技術問題之目的、應客戶要求處理客戶支援問題，或法律規定之必要狀況，來存取「客戶資料」。
					</li>
					<li>只要您的帳戶存在或為提供您服務之用，[BIZ]</span>將繼續保留您的資料。若您關閉帳戶，為了遵循法令義務、符合法規、解決會員間爭端、預防偽造文書或濫用情事或執行本隱私權政策及用戶協議之必要，我們可能會保留您的部分資料一段時間。此外，我們的客服中心可能根據需要保留資料，僅供提供支援相關報告及趨勢分析之用。
					</li>
				</ul>
			</section>
			<section>
				<h2>十一、安全性</h2>
				
				<ul>
					<li>為保障您的隱私及安全，本公司將依相關法律規定，採取適當的技術性和組織性等安全措施，保護您所提供的個人資料或客戶資料，並請您妥善保管您的密碼及∕或任何個人資料。但請注意，儘管本公司會盡力保護您提供的個人資料或客戶資料，仍無法保證該等資料百分之百不會遭受第三人之非法攔截、傳送或盜駭。
					</li>
					<li>如您與他人共用之電腦、或使用公用電腦時，瀏覽完本網站及使用相關服務後，請登出並關閉瀏覽器視窗並清除瀏覽資訊，防止他人讀取您提供的個人資料或客戶資料，以保護該等資料。
					</li>
					<li>在您登入[BIZ]帳戶時，本網站使用通行標準的 SSL 保全系統，保障資料傳送的安全。
					</li>
					
				</ul>
			</section>
			<section>
				<h2>十二、修改本隱私權政策條款的權利</h2>
				<ul>
					<li>[BIZ]有權隨時視實際情形修訂本條款，本條款有重大變更時，[BIZ]將張貼公告，您有義務隨時注意本條款有無更新或修訂。如您不同意所變更之內容，得隨時選擇退出相關服務，並請您立即停用[BIZ]之服務，如您繼續使[BIZ]，即表示您同意本條款變更之內容。
					</li>
					<li>除非另外說明，我們目前的「隱私權政策」適用於所有關於您及您的帳戶之資料。於變更通知傳送後或公佈於「服務」後使用「服務」即表示您同意條款及實踐之變更部分。
					</li>
				</ul>
			</section>
			<section>
				<h2>十三、服務暫停或中斷</h2>
				<ul>
					<li>會員服務進行系統或功能例行性之維護、改置或變動所發生之服務暫停或中斷，本公司將於該暫停或中斷前以電子郵件、公告或其他適當之方式告知會員，您同意本公司不須因此負損害賠償責任。
					</li>
					<li>在下列情形，本公司將暫停或中斷本服務之全部或一部，且對會員任何直接或間接之損害，均不負任何責任：<br>
(1)	對本會員服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時。<br>
(2)	會員有任何違反政府法令或本條款情形。<br>
(3)	天災或其他不可抗力所致之服務停止或中斷。<br>
(4)	任何不可歸責於本公司之事由所致之服務停止或中斷。

					</li>
					<li>基於網際網路之特性，您瞭解並同意於使用本網路服務時，應自行採取防護措施，如因本公司、協力廠商或相關電信業者網路系統軟硬體設備之故障、失靈或人為操作上之疏失而致本網路服務全部或一部中斷、暫時無法使用、遲延、或造成資料傳輸或儲存上之漏誤、或遭第三人侵入系統篡改偽造資料時，本公司不負任何賠償責任。
					</li>
				</ul>
			</section>
			
		</article>	
	</main>
	<footer>
		<div class="footerbox">
			<nav>
				<ul class="footernav">
					<li><a href="about_us.html">關於我們</a></li>
					<li><a href="support.html">操作手冊</a></li>
					<li><a href="servicepolicy.html">服務條款</a></li>
					<li><a href="privacy.html">隱私政策</a></li>
					<li><a href="faq.html">常見問題</a></li>
					<li><a href="contact.html">聯絡我們</a></li>
					<li><a href="appdownload.html">APP下載</a></li>
				</ul>
			</nav>
			<ul class="footercontact">
				<li>
					<h2>
						<a href="index.html">Matchmaking System</a>
					</h2>
				</li>
				<li class="ftphone">
					聯絡電話:02-2598-3887
				</li>
				<li class="ftmail">
					聯絡信箱: <a href="mailto:wavegis@gmail.com.tw">wavegis@gmail.com.tw</a>
				</li>
			</ul>
		
			<p class="footerp">	
				版權所有 Copyright © 2016 BIZ Cluster System. All rights reserved 
			</p>
		
		</div>
	</footer>
	<script src="js/regis.js"></script>
</body>
</html>