<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>生產力2.0</title>
	<link rel="stylesheet" href="../../stylesheets/screen.css">
	<link rel="stylesheet" href="../../stylesheets/servicepolicy.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
	<main>	
		<article class="article_col1">
			<h1 class="titles">服務條款</h1>
			<section>
									注意：您正在閱讀具法律約束力之協議。
				歡迎您使用[BIZ](以下稱「[BIZ]」或「本網站」)並加入成為[BIZ]會員，[BIZ]會員服務(以下稱「會員服務」，包括[BIZ]、相關行動App、開發人員平台、管理人員平台或進階服務)，係由「昕傳科技股份有限公司」(以下稱「本公司」)所建置提供。本服務條款訂立的目的，是為了保護會員服務的提供者以及所有使用者(以下稱「會員」)的利益，並構成會員與會員服務提供者之間的契約，您在完成註冊手續及使用會員相關服務時，均需詳細閱讀下列各項會員服務條款(以下稱「本條款」)，及隱私權政策，並隨時注意[BIZ]所公告之本條款的修改或變更，本公司有權於任何時間修改或變更本條款及隱私權政策之內容。如果您不能夠同意這些規則，請不要使用相關服務。一旦您註冊成功，即表示您已審閱知悉、並完全同意本條款及隱私權政策的所有約定。如您為未滿二十歲之未成年人或其他無完全行為能力的使用者，請不要使用[BIZ]提供的服務。

			</section>
			
			<section>
				<h2>一、適用範圍</h2>
				<ul>
					<li>
						當您使用[BIZ]上之特定服務時，可能會依據該特定服務之性質，而須遵守本公司另行公告之其他服務條款或相關規定，該另行公告之其他服務條款或相關規定均為本條款之一部分。
					</li>
					<li>當您開始使用會員服務或於任何修改或變更後繼續使用會員服務，即表示您已閱讀、瞭解並同意接受本條款或該等修改或變更後之內容；如果您無法遵守或不同意本條款之內容，或您所屬的國家、地區排除本條款內容之全部或一部時，請您立即停止使用會員服務。為確保您的權益，建議您經常確認本條款之最新公告內容。
					</li>
					<li>當您開始使用會員服務或於任何修改或變更後繼續使用會員服務，即表示您已閱讀、瞭解並同意接受本條款或該等修改或變更後之內容；如果您無法遵守或不同意本條款之內容，或您所屬的國家、地區排除本條款內容之全部或一部時，請您立即停止使用會員服務。為確保您的權益，建議您經常確認本條款之最新公告內容。
					</li>
					<li>您瞭解並同意：當您違反本條款之任一規定時，[BIZ]有權不經通知即暫停或終止您的帳號及/或使用會員服務之全部或一部。
					</li>
				</ul>
			</section>
			<section>
				<h2>二、會員服務</h2>
				<ul>
					<li>本公司保留新增、修改或取消會員服務內相關系統或功能之權利。</li>
					<li>本公司保留新增、修改或取消會員服務內相關系統或功能之權利。</li>
					<li>您同意[BIZ]透過網站、行動App、電子郵件及簡訊提供重要通知。如果您未提供最新的聯絡資料，您可能會因此錯過這些通知。</li>
					<li>您同意我們透過以下方式向您提供通知：（1）使用訊息通知（2）傳送通知信到您提供的信箱（3）透過行動APP推播方式（4）透過簡訊方式</li>
					<li>當您分享資訊時，其他會員可查看、複製或使用該資訊。</li>
				</ul>
			</section>
			<section>
				<h2>三、主帳戶與子帳戶</h2>
				<ul>
					<li>名詞定義<br>
(1)「主帳戶」指最初註冊的帳號，為代表貴公司管理權限之帳號(國內企業使用統一編號；國外企業使用可代表公司資自訂帳號)，於[BIZ]網站中為「企業帳號」，主帳戶有權將其他使用者加入為其「子帳戶」，主帳戶和子帳戶皆適用[BIZ]會員服務條款及隱私權政策之規範。<br>
(2)「子帳戶」為主帳戶管理下同公司使用者的帳號，由主帳號新增/移除，於[BIZ]網站中有「業務帳號」及「專案帳號」兩種。

					</li>
					<li>若您註冊主帳戶，代表您接受本條款，且您應：<br>
(1)確保您主帳戶與子帳戶的使用者均遵守[BIZ]會員服務條款及隱私權政策。<br>
(2)確保您主帳戶與子帳戶資料的精確性和品質，與擁有資料的合法性。<br>
(3)貴公司將只擁有一個主帳戶，並使用真實公司資訊。<br>
(4)用商業上合理的努力，以防止未經授權的訪問或使用服務，並及時通知本公司這類未授權服務。

					</li>
				</ul>
			</section>
			<section>
				<h2>四、資料空間與儲存</h2>
				<ul>
					<li>本公司保留新增或修改資料儲存空間大小之權利。</li>
					<li>本公司會定期備份您所儲存的資料，惟本公司不對刪除的資料或備份儲存失敗的資料負責。</li>
					<li>本公司會定期備份您所儲存的資料，惟本公司不對刪除的資料或備份儲存失敗的資料負責。</li>
				</ul>
			</section>
			<section>
				<h2>五、帳號、密碼與安全性</h2>
				<ul>
					<li>會員對於所使用的帳號和密碼必須負妥善保管和保密的義務，並應為使用此帳號和密碼登入後於本網站之一切行為負責。如您的會員帳號和密碼被第三人冒用或不當使用，本公司會儘速協助解決，但不因此負有任何形式之賠償或補償之責任或義務。
						
					</li>
					<li>您將對密碼保密，並與貴公司有權限管理[BIZ]帳戶的成員共同保管。</li>
					<li>您同意：（1）選擇安全度高的密碼；
					（2）妥善保管貴公司的密碼；
					（3）絕不會轉讓帳戶的任一部分（如聯絡人、聚落）；<br>
					（4）遵守法律及以下規定。除非您關閉帳戶或檢舉濫用情事，否則您對所有帳戶活動應全權負責。</li>
					<li>請注意，貴公司代表人擁有最高權限控制帳戶及終止您的讀取。</li>
					<li>如您與他人共用電腦、或使用公用電腦時，瀏覽完本網站後，請登出並關閉瀏覽器視窗，以保護您個人資料的安全。</li>
				</ul>
			</section>
			<section>
				<h2>六、資料提供之規則</h2>
				您瞭解並同意下列事項：
				<ul>
					<li>您於本網站中所輸入之他人個人資料，您保證均係嚴格遵守中華民國個人資料保護法、刑法、公平交易法及相關法規、本公司隱私權條款等規定所蒐集、處理及利用，並確保本公司無任何違法之虞。該他人資料除用以從事您原先告知該他人之目的外，不得用於其他目的。
					</li>
					<li>取自本網站所蒐集、處理或利用之任何個人資料，不得直接或間接讓第三人知悉。
					</li>
					<li>於會員服務終止後，您應立即銷毀、刪除自本網站所取得之他人個人資料，本公司並得請求您提出已銷毀、刪除之證據。</li>
					<li>經本公司向您告知本條款及本網站隱私權政策所列事項，您已清楚瞭解前述告知內容及本公司蒐集、處理、利用及國際傳輸您個人資料之目的及用途，您也已瞭解本公司往後將依此告知內容蒐集、處理、利用您的個人資料，並同意本公司於此告知範圍內蒐集、處理、利用您的個人資料時，得免再逐一或重複告知。您應確保輸入本網站之他人個人資料，應事先以合於個人資料保護法之規範，取得該他人之瞭解、同意及授權；您並聲明保證，若您提供予本公司之資料包含您以外第三人之個人資料時，您已以適當方式使該第三人知悉其個人資料會提供予本公司，由本公司於本條款及本網站隱私權政策告知內容範圍內進行蒐集、處理、利用及國際傳輸，您並已使該第三人同意本公司（或本公司提供資料之對象）得處理、利用其個人資料，並使其理解所有依法應告知之內容，故本公司得免再告知該第三人。</li>
					<li>若本公司因您違反前述規定之行為，而遭主管機關處以罰鍰或遭第三人求償時，您應無條件補償本公司所受之一切損害及損失(包括但不限於訴訟費用、賠償金、罰鍰、律師費)。</li>
					<li>您如有違反前述規定之行為者，本公司得不經預告終止會員服務，您不得有任何異議或主張任何權利。</li>
				</ul>
			</section>
			<section>
				<h2>七、隱私保護</h2>
				<ul>
					<li>本公司尊重您的隱私權，並致力於保護您的個人資料。於使用會員服務前，請您詳細閱讀本網站之「隱私權條款」，當您使用會員服務時，即視同您同意本網站依據前揭「隱私權條款」蒐集、處理與利用您的個人資料。此外，本網站於未經您許可的情形下，絕不會將您的個人資料提供予任何第三方。詳細內容，請參閱本網站之「隱私權條款」。
					</li>
					<li>本網站可能於臺灣以外之地區處理、利用您的個人資料，且將受到實體及技術安全等裝置的保護，若您反對此蒐集、處理、利用之方式，請立即停止使用會員服務。
					</li>
				</ul>
			</section>
			<section>
				<h2>八、使用者的行為</h2>
				<ul>
					<li>當您使用本網站時，應遵守中華民國法令之規定及相關網際網路之國際慣例，您若是中華民國管轄領域以外之使用者，並應遵守所屬國家或地方之法令，絕不為任何非法目的或以任何非法方式使用本網站，亦不得利用本網站侵害他人權益及為違法或不當之行為，否則本網站有權立刻終止您使用本網站之權利。前述違法或不當之行為包括但不限於：<br>
(1)刊載、傳輸、發送或儲存任何誹謗、詐欺、歧視、傷害、猥褻、色情、賭博、謾罵、不實或其他一切違反中華民國法令之檔案或資料。<br>
(2)刊載、傳輸、發送或儲存任何侵害他人智慧財產權或其他權益的資料。<br>
(3)未經同意擅自摘錄或使用會員服務內任何資料庫內容之全部或一部。<br>
(4)刊載、傳輸、發送、儲存病毒、或其他任何足以破壞或干擾電腦系統或資料的程式或訊息。<br>
(5)販賣槍砲、刀械、毒品、禁藥、盜版軟體或其他法令所禁止販賣之物品。<br>
(6)提供賭博資訊或以其他方式發佈引誘他人參與賭博的訊息。
(7)濫發廣告郵件或其他垃圾信件。<br>
(8)未經他人同意而蒐集其電子郵件位址或其他個人資料。<br>
(9)偽造訊息來源或以其他方式干擾傳輸來源之認定。<br>
(10)破壞或干擾會員服務的系統運作或違反一般網路禮節之行為。<br>
(11)在未經授權下進入會員服務系統或冒用他人帳號或偽造他人辨識資料。<br>
(12)任何竊取會員服務之會員帳號、密碼或存取權限之行為。<br>
(13)任何妨礙或干擾其他使用者使用會員服務之行為。<br>
(14)其他不符合會員服務所提供的使用目的之行為。<br>
(15)破壞及干擾本網站所提供之各項資料、活動或功能，或以任何方式侵入、試圖侵入、破壞本網站之任何系統，或藉由本網站為任何侵害或破壞行為。<br>
(16)從事不法交易行為或刊載引人犯罪之訊息或買賣行為。<br>
(17)使用任何不當的傳輸方式或系統、外掛軟體或病毒等，於本網站內進行不當任何活動。包括使用任何偵測、破解、破壞、重製、掃瞄、還原、解編、反向組譯、濫發垃圾郵件、惡意軟體或病毒等方式，企圖取得任何不當之利益或資料，或造成他人不便。<br>
(18)擷取非經所有人正式開放或授權之資訊。<br>
(19)其他利用本網站為任何違反法令規定或本公司認為不當之行為。

					</li>
					<li>您透過會員服務所寄送的訊息內容中如有直接連結到其他網址，您仍應善盡職責，確定該其他網址之內容不違背上述規範。
					</li>
					<li>本公司不為您在訊息內容連結到其他任何網站、軟體或資訊負任何責任，您應自行判斷其正確性、適用性、時效性與是否為侵害他人權利之行為。
					</li>
					<li>本公司並未針對您所傳送、張貼或發表之內容做任何形式或實質之審查，如果任何文字、圖檔、圖片或其他著作、資料發生權利歸屬或其他合法性爭議，本公司有權隨時不經通知，直接停止提供您使用會員服務、或直接刪除該文字、圖檔、圖片或其他著作或資料、或通知您停止使用會員服務。
					</li>
					<li>如因您違背本條款或相關法令，或有侵害他人權利之不法或不當行為，致本公司或關係企業、受僱人、受託人、代理人及其他相關履行輔助人受有損害或支出費用 ( 包括但不限於因進行民事、刑事及行政程序所支出之訴訟費用及律師費 ) 時，您應負擔損害賠償責任。
					</li>
					<li>您如有違反本條規定，本公司有權在不另行通知下進行緊急之必要處置，該等處置所產生之一切損失，本公司不負任何責任。本公司保留裁定您是否違反上述規定之解釋權利。
					</li>
					<li>本網站含有使數位資料得以被保護之安全元件，使用該等資料必須依本公司或提供該元件予本網路之內容提供者所定的使用規則。您不得試圖破壞或規避任何內含於本網路本身或元件之使用規則。任何未經合法授權之重製、發行、散佈或公開展示本網路所提供之資料之全部或一部分，均被嚴格禁止。
					</li>
				</ul>
			</section>
			<section>
				<h2>九、智慧財產權保護</h2>
				<ul>
					<li>本網站中的所有內容之著作權、專利權、商標及各項標章權、營業秘密、其他智慧財產權及其他權利，均為本公司所有，請勿自行使用、轉載、修改、重製、發行、公開發表、散佈、出租、發行、公開傳輸、公開發表、進行還原工程、解編或反向組譯，若需此方面的服務，請和與本公司/本網站相關部門人員接洽。
					</li>
					<li>任何經由您自願或主動上傳、輸送、提供至本網站服務的以下各項資料(涵蓋但不侷限)：文字、圖片、檔案等等，您應自行確定並保證上述資料絕無侵害他人智慧財產權，或有其他侵權問題等。
					</li>
					<li>若您違反上述任一事項，或逕自修改本項網路服務建置平台所提供之內容，將構成智慧財產權的侵害事實，本公司有權依法採取保護權利之必要行為；若因此造成我方損害，您並應無條件補償本公司及本網站所受之一切損害。
					</li>
				</ul>
			</section>
			<section>
				<h2>十、限制</h2>
				<ul>
					<li>您不得：<br>
(1)允取任何第三方使用本服務<br>
(2)從事不實或不專業之行為，包括張貼不適當、不正確或有異議之內容<br>
(3)上傳錯誤、非貴公司或有著作權爭議之檔案LOGO<br>
(4)未經貴公司同意而建立帳戶<br>
(5)使用或試圖使用他人帳戶<br>
(6)騷擾、濫用或傷害他人、傳送垃圾或其他不受歡迎的訊息<br>
(7)使用任何方式(如：網路爬蟲、瀏覽器外掛程式及附加組件，與任何其他技術或手動方式）消除或複製他人的檔案和資料<br>
(8)進行違法、損害名譽、侮辱性、猥褻、歧視行或其他惡意之行為<br>
(9)披露您沒有權限披露的資料（包括貴公司的機密資料）<br>
(10)違反他人智慧財產權<br>
(11)發表任何未經請求或授權之廣告、垃圾郵件、垃圾訊息、連鎖信、傳銷或其他未經[BIZ]授權任何形式之勸誘行為<br>
(12)刊登含有軟體病毒、電腦蠕蟲或其他有害程式碼的內容<br>
(13)建立或提供含有伴遊或性交易服務之內容或檔案<br>
(14)建立或從事傳銷、詐欺或其他類似活動<br>
(15)複製或使用未經過明示授權的他人發表之資訊、內容或資料<br>
(16)複製或使用[BIZ]的資訊、內容或資料來與競爭對手進行關聯<br>
(17)複製、修改或建立未經過[BIZ]明示授權的服務或任何相關技術<br>
(18)反向工程、反編譯、解譯、破解或以其他方式試圖獲取用於提供「服務」之原始程式碼或其中任何部分<br>
(19)未經[BIZ]同意，暗示或明示您為[BIZ]附屬個體或獲得[BIZ]背書<br>
(20)出租、抵押、交易、販／轉售[BIZ]任何相關的資料或資訊的權限<br>
(21)未經[BIZ]同意，搜集、使用複製或轉讓任何從[BIZ]獲得的資訊<br>
(22)使用手動或自動軟體、裝置、自動程式或其他方式或程序來使用、「消除」、「耙梳」或「網路蜘蛛」服務或任何相關資料或資訊<br>
(23)透過非[BIZ]明示提供的界面來使用服務<br>
(24)使用會員本服務以建立競爭性產品或服務<br>
(25)複製任何會員本服務之特色、功能、圖片

					</li>
				</ul>
			</section>
			<section>
				<h2>十一、免責聲明</h2>
				您明確瞭解並同意以下規定：<br>
				<ul>
					<li>您於使用本網站所提供之資料時，就該資料之正確性或可信性應自行判斷、評估並自負風險，本網站不負任何擔保責任。
					</li>
					<li>您對經由本網站所購買取得之任何資料、服務、產品或其他資訊，不得向本網站主張未符合要求、期望或具有瑕疵。
					</li>
					<li>本公司不擔保本網站不受干擾、及時提供服務或安全可靠免於出錯。
					</li>
					<li>您自本網站或經由本網站所取得之資訊或建議，無論其係以書面或口頭方式呈現，均不構成本網站之保證。
					</li>
					<li>對於本公司所提供之各項會員服務，均僅依該會員服務當時之功能及現況提供使用；對於使用者之特定要求或需求，包括但不限於速度、安全性、可靠性、完整性、正確性及不會斷線等錯誤，本公司不負任何形式或內容之擔保或保證責任。
					</li>
					<li>對於本公司所提供之各項會員服務，均僅依該會員服務當時之功能及現況提供使用；對於使用者之特定要求或需求，包括但不限於速度、安全性、可靠性、完整性、正確性及不會斷線等錯誤，本公司不負任何形式或內容之擔保或保證責任。
					</li>
				</ul>
			</section>
			<section>
				<h2>十二、服務的使用</h2>
				<ul>
					<li>在本網站的使用服務權利僅限於個人，您不可將在本網站上的個人服務轉給他人使用，如此的話，您將為該行為之後果負全部責任。
					</li>
					<li>本網站所提供的服務或商品，僅限於供您個人使用，本網站並享有智慧財產權等相關權益，除經本網站同意外，不得轉用於其他用途，或將之公開營利。
					</li>
				</ul>
			</section>
			<section>
				<h2>十三、服務暫停或中斷</h2>
				<ul>
					<li>會員服務進行系統或功能例行性之維護、改置或變動所發生之服務暫停或中斷，本公司將於該暫停或中斷前以電子郵件、公告或其他適當之方式告知會員，您同意本公司不須因此負損害賠償責任。
					</li>
					<li>在下列情形，本公司將暫停或中斷本服務之全部或一部，且對會員任何直接或間接之損害，均不負任何責任：<br>
(1)	對本會員服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時。<br>
(2)	會員有任何違反政府法令或本條款情形。<br>
(3)	天災或其他不可抗力所致之服務停止或中斷。<br>
(4)	任何不可歸責於本公司之事由所致之服務停止或中斷。

					</li>
					<li>基於網際網路之特性，您瞭解並同意於使用本網路服務時，應自行採取防護措施，如因本公司、協力廠商或相關電信業者網路系統軟硬體設備之故障、失靈或人為操作上之疏失而致本網路服務全部或一部中斷、暫時無法使用、遲延、或造成資料傳輸或儲存上之漏誤、或遭第三人侵入系統篡改偽造資料時，本公司不負任何賠償責任。
					</li>
				</ul>
			</section>
			<section>
				<h2>十四、終止服務</h2>
				<ul>
					<li>您同意本網站得依自行考量或因任何理由，包含但不限於一定期間未使用本網站之服務、法院或政府機關命令、您自行請求、本網站無法繼續、本網站所提供之服務內容發生實質變更或無法預期的技術或安全問題、您具有詐欺或違法之行為、未依約支付費用(若有)，或其他本網站認為您已經違反本「會員服務條款」的明文規定及目的，而終止您的密碼、帳號(或其任何部分)及/或本網站之使用。此外，若您被終止使用本網站，本網站對您或任何第三人均不承擔任何責任。
					</li>
					<li>您同意您的網站會員帳號係不可轉讓，且您網站會員帳號或帳號中之任何權利，於您死亡、破產或喪失行為能力或無法自由使用本網站功能時即立刻終止，本網站並無繼續維持或保存您的帳號及帳號中內容之義務。
					</li>
					<li>您同意如果您在本網站上所刊載、傳輸、發送或儲存的檔案或資料，有任何違反法令、違反本條款、或有侵害第三人權益之情事者，本公司有權不經通知隨時直接加以移動、刪除或停止會員服務提供，且不負損害賠償責任。若本公司因此受到任何損害，您應對本公司負損害賠償之責。
					</li>
					<li>本網站有權自動偵測會員帳號，如您連續三個月均未使用會員服務，本網站有權將您於該帳號內之所有檔案，全數刪除且不予另行備份，並將您的會員帳號刪除。會員帳號刪除後，所有會員權益隨之終止，您不得申請恢復帳號或將該帳號原有之權益移轉到其他帳號，本公司亦不負損害賠償責任。前述有無使用會員服務之紀錄，均以本公司會員服務系統內所留存之紀錄為準。
					</li>
				</ul>
			</section>
			<section>
				<h2>十五、廣告</h2>
				<ul>
					<li>廣告商或產品、服務之供應商，於本網站刊登之廣告內容、產品圖片或其他買賣資訊，本網站僅接受委託予以刊登，就其內容不作實質審查或任何修改，因此，就前揭內容之正確性及可信度，本網站不負擔保責任。您對於廣告之正確性與可信度應自行斟酌與判斷。
					</li>
				</ul>
			</section>
			<section>
				<h2>十六、修改本條款的權利</h2>
				<ul>
					<li>[BIZ]保留隨時修改本條款的權利，修改後的條款將公佈於本網站，您應自行主動閱讀，本公司不另外個別通知會員。
					</li>
				</ul>
			</section>
			<section>
				<h2>十七、本條款之效力、準據法及管轄法院</h2>
				<ul>
					<li>本條款構成您與本公司及本程式間之有效契約。本條款中如有一部無效時，不影響其他條款之效力，其餘條款於法律允許之最大範圍內，仍有效力。
					</li>
					<li>本條款之解釋、適用、與本條款有關之爭議，及因本條款而生之法律程序，均應以中華民國相關法令為準據法，並由臺灣臺北地方法院為第一審管轄法院，如您所在地之有關法律與上開法令規定相衝突時，該等規定於此不生效力。
					</li>
					<li>本條款如有未盡事宜，雙方均應依誠實信用、平等互惠原則，共商解決之道。
					</li>
				</ul>
			</section>
			
		</article>	
	</main>
	<footer>
		<div class="footerbox">
			<nav>
				<ul class="footernav">
					<li><a href="about_us.html">關於我們</a></li>
					<li><a href="support.html">操作手冊</a></li>
					<li><a href="servicepolicy.html">服務條款</a></li>
					<li><a href="privacy.html">隱私政策</a></li>
					<li><a href="faq.html">常見問題</a></li>
					<li><a href="contact.html">聯絡我們</a></li>
					<li><a href="appdownload.html">APP下載</a></li>
				</ul>
			</nav>
			<ul class="footercontact">
				<li>
					<h2>
						<a href="index.html">Matchmaking System</a>
					</h2>
				</li>
				<li class="ftphone">
					聯絡電話:02-2598-3887
				</li>
				<li class="ftmail">
					聯絡信箱: <a href="mailto:wavegis@gmail.com.tw">wavegis@gmail.com.tw</a>
				</li>
			</ul>
		
			<p class="footerp">	
				版權所有 Copyright © 2016 BIZ Cluster System. All rights reserved 
			</p>
		
		</div>
	</footer>
	<script src="js/regis.js"></script>
</body>
</html>