@{
    ViewBag.Title = "Verification";

    string name= Request["name"];
    string email= Request["email"];
    string user_id = Request["user_id"];
}


@section pagestyle{
    <link href="/stylesheets/verification.css" rel="stylesheet" />
}
<main>
    <div class="form_box w600">
        <h2>會員驗證</h2>
        <p>
            @name 您好，歡迎您成為會員!<br/>
            我們已寄發一封「會員驗證信」至您的註冊信箱(@email)中，
            請您於三日內開啟信件，點選會員驗證連結，
            以完成會員註冊作業，謝謝!
        </p>
        <div class="centerbox">
            <a href="ReAccountMailValidate?user_id=@user_id&name=@name&email=@email" class="submitbuOr" onclick="tipstring()">重發驗證信</a>
            <p>
                <span class="fontRed" id="msg"></span>
            </p>
        </div>
</div>
</main>

<script>
    $(function() {
        @if (!string.IsNullOrEmpty((string)TempData["remail_Msg"]))
        {
            <text>
        function check() {
            var remail_Msg = '@TempData["remail_Msg"]';
            if (remail_Msg != '')
        {
                $("#msg").html(remail_Msg);
        }
        }
            check();
        </text>
    }
    }
    )

    function tipstring() {
        $("#msg").html('');
    }

</script>