.regis_col01L {
  position: absolute;
}

.regis_col01R {
  width: 100%;
  box-sizing: border-box;
  padding-left: 220px;
  min-height: 180px;
}

.regis_col01R + .form_box {
  margin-top: 30px;
}

.regis_col01R_label {
  width: 40%;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
  font-size: 0.875em;
}

.regis_col01R_input {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  line-height: 29px;
  float: left;
}

.regis_col02L {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
  font-size: 0.938em;
}

.regis_col02R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  float: left;
  line-height: 29px;
}

.regis_col03L {
  width: 13%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
  line-height: 29px;
  font-size: 0.938em;
}

.regis_col03R {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  line-height: 29px;
}

.regis_col06R {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
  line-height: 29px;
}

.regis_col06L {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
}

.regis_col02R .radioinput + label {
  width: 33%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.regis_col_bg {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  font-size: 0.875em;
}
.regis_col_bg:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: -5px;
  height: 15px;
  top: 7px;
}

.regis_col_bg2 {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  background: #f4f4f4;
  border-right: 10px solid #ffffff;
  font-size: 0.875em;
}
.regis_col_bg2:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: -5px;
  height: 15px;
  top: 7px;
}

.regis_col_bg3 {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 5px 0;
  line-height: 29px;
  display: block;
  font-size: 0.875em;
  padding-left: 15px;
}
.regis_col_bg3:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: 5px;
  height: 15px;
  top: 7px;
}

.bgbox {
  background: #f4f4f4;
  margin: 0 0 15px 0;
  display: inline-block;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
}

.bgbox2 {
  background: #FFFFE1;
}

.verticalslist .inputCheckbox + label {
  width: 50%;
  padding-bottom: 16px;
  box-sizing: border-box;
  float: left;
}

.verticalslist label:nth-of-type(odd) {
  clear: left;
}

.label01 {
  display: block;
  width: 100%;
}

/*.addbu
 * margin: 5px 0 */
textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.regis_table {
  width: 100%;
}
.regis_table th {
  background: #f4f4f4;
  padding: 10px 0;
  font-size: 0.938em;
}
.regis_table th + th {
  padding-left: 16px;
}
.regis_table input {
  width: 100%;
}
.regis_table td + td {
  padding-left: 15px;
}
.regis_table td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875em;
}
.regis_table input + input {
  margin-top: 10px;
}
.regis_table tr:nth-child(odd) {
  background: #fffff3;
}

.datalist2 {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist2 h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 38px;
  border-bottom: 1px solid #cccccc;
}
.datalist2 h3:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 25px;
  top: 7px;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #1da070;
}
.datalist2 h3:after {
  content: "";
  width: 8px;
  height: 3.5px;
  position: absolute;
  left: 18px;
  top: 10.47px;
  background: #1da070;
}
.datalist2 ul {
  padding: 15px;
}
.datalist2 ul a {
  font-size: 0.813em;
}

.inforlist {
  padding-bottom: 15px;
}
.inforlist li {
  line-height: 2em;
  border-bottom: 1px dotted #cccccc;
}
.inforlist li ul {
  padding: 0;
}

.inforlistactive {
  background: #FFFCF0;
}

@media only screen and (max-width: 768px) {
  .regis_col01L {
    margin: 0 0 30px 0;
  }

  .regis_col01R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .regis_col01R_label, .regis_col01R_input, .regis_col02L, .regis_col02R, .regis_col03L, .regis_col03R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 520px) {
  .regis_col02R .radioinput + label {
    width: 50%;
  }

  .verticalslist .inputCheckbox + label {
    width: 100%;
  }

  .regis_col01L {
    position: static;
    min-height: auto;
  }

  .regis_col01R {
    padding-left: 0;
  }

  #result {
    margin: 0 auto;
  }
}
.regis_table tr td {
  padding: 10px 0;
  text-align: left;
}

/*# sourceMappingURL=application.css.map */
