.regis_col01L {
  position: absolute;
}

.regis_col01R {
  width: 100%;
  box-sizing: border-box;
  padding-left: 220px;
  min-height: 180px;
}

.regis_col01R + .form_box {
  margin-top: 30px;
}

.regis_col01R_label {
  width: 40%;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col01R_input {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
}

.regis_col02L {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col02R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  float: left;
}

.regis_col03L {
  width: 13%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
}

.regis_col03R {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
}

.regis_col06R {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
}

.regis_col06L {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col02R .radioinput + label {
  width: 33%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.verticalslist .inputCheckbox + label {
  width: 50%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.label01 {
  display: block;
  width: 100%;
}

.addbu {
  margin: 5px 0;
}

textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.regis_table {
  width: 100%;
}
.regis_table th {
  background: #f4f4f4;
  padding: 10px 0;
}
.regis_table th + th {
  padding-left: 16px;
}
.regis_table input {
  width: 100%;
}
.regis_table td + td {
  padding-left: 15px;
}
.regis_table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.datalist {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 45px;
  border-bottom: 1px solid #cccccc;
}
.datalist h3:before {
  content: "";
  width: 27px;
  height: 27px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 -34px;
  position: absolute;
  left: 15px;
  top: 0;
}
.datalist ul {
  padding: 15px;
}
.datalist ul a {
  font-size: 0.813em;
}

.datalist2 {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist2 h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 38px;
  border-bottom: 1px solid #cccccc;
}
.datalist2 h3:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 25px;
  top: 7px;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #1da070;
}
.datalist2 h3:after {
  content: "";
  width: 8px;
  height: 3.5px;
  position: absolute;
  left: 18px;
  top: 10.47px;
  background: #1da070;
}
.datalist2 ul {
  padding: 15px;
}
.datalist2 ul a {
  font-size: 0.813em;
}

.inforlist {
  padding-bottom: 15px;
}
.inforlist li {
  line-height: 2em;
  border-bottom: 1px dotted #cccccc;
}
.inforlist li ul {
  padding: 0;
}
.inforlist span {
  margin-top: 10px;
  display: block;
  line-height: 1.5em;
  font-size: 0.938em;
  font-weight: bold;
  background: #fffcf0;
  text-align: center;
  padding: 5px;
}

.inforlistactive {
  background: #FFFCF0;
}

@media only screen and (max-width: 768px) {
  .regis_col01L {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px 0;
  }

  .regis_col01R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .regis_col01R_label, .regis_col01R_input, .regis_col02L, .regis_col02R, .regis_col03L, .regis_col03R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 520px) {
  .regis_col02R .radioinput + label {
    width: 50%;
  }

  .verticalslist .inputCheckbox + label {
    width: 100%;
  }

  .regis_col01L {
    position: static;
    min-height: auto;
  }

  .regis_col01R {
    padding-left: 0;
  }

  #result {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=fromstyle.css.map */
