.boxtest {
  overflow: hidden;
  width: 100%;
  max-height: 236px;
}

.newsboxTitle {
  padding-bottom: 15px;
  position: relative;
}
.newsboxTitle:before {
  content: "";
  position: absolute;
  border-bottom: 4px double #ff9000;
  top: 7px;
  right: 0;
  width: 89%;
}
.newsboxTitle h3 {
  color: #ffffff;
  font-size: 1em;
  position: relative;
  padding-left: 8px;
  display: inline;
  background: #ff9000;
  padding: 5px 7px;
}
.newsboxTitle h3:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-style: solid;
  border-width: 6px 6px 0 0;
  border-color: #ffffff transparent transparent transparent;
}
.newsboxTitle a:link, .newsboxTitle a:visited {
  position: absolute;
  background: #ffffff;
  right: 0;
  color: #ff9000;
  font-size: 0.75em;
  border-radius: 10px;
  padding: 2px 5px 2px 10px;
  text-decoration: none;
}
.newsboxTitle a:link:before, .newsboxTitle a:visited:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 5px;
  border-color: transparent transparent transparent #ff9000;
  right: 35px;
  top: 6px;
}
.newsboxTitle a:hover, .newsboxTitle a:focus, .newsboxTitle a:active, .newsboxTitle a.active {
  text-decoration: underline;
  color: #f46813;
}
.newsboxTitle a:hover:before, .newsboxTitle a:focus:before, .newsboxTitle a:active:before, .newsboxTitle a.active:before {
  border-color: transparent transparent transparent #f46813;
}

.newsboxList02 {
  display: inline-block;
  width: 100%;
}
.newsboxList02 li {
  border-bottom: 1px dotted #cccccc;
  line-height: 1em;
  padding-top: 7px;
  float: left;
  width: 49%;
}
.newsboxList02 li:nth-child(even) {
  margin-left: 2%;
}
.newsboxList02 li:nth-child(odd) {
  clear: left;
}
.newsboxList02 a:link, .newsboxList02 a:visited {
  font-size: 0.938em;
  text-decoration: none;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.newsboxList02 a span {
  padding: 3px;
  min-width: 65px;
  display: inline-block;
  height: 1em;
  text-align: center;
  line-height: 1em;
  border-radius: 5px;
  color: #ffffff;
}
.newsboxList02 a.news_activity span {
  background: #eb0063;
}
.newsboxList02 a.news_activity:hover span {
  background: #b7024e;
}
.newsboxList02 a.news_newspage span {
  background: #03a9f5;
}
.newsboxList02 a.news_newspage:hover span {
  background: #1184b9;
}

.newsphoto li {
  float: left;
  width: 32%;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  padding: 10px;
  line-height: 1.6;
}
.newsphoto li + li {
  margin-left: 2%;
}
.newsphoto li span {
  font-size: 0.75em;
  color: #9e9e9e;
}
.newsphoto li p {
  font-size: 0.938em;
}
.newsphoto .photoimg {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
}
.newsphoto .photoimg img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.loginbox {
  box-shadow: 0 0 5px rgba(158, 158, 158, 0.7);
  padding: 20px;
  border-top: 3px solid #03a9f5;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.loginbox h3 {
  font-size: 1.25em;
  color: #03a9f5;
  margin-bottom: 5px;
  position: relative;
  padding-left: 10px;
  display: inline-block;
}
.loginbox h3:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #03a9f5;
  top: 50%;
  margin-top: -3px;
  left: 0;
}
.loginbox input {
  width: 100%;
  margin: 5px 0;
}

.loginbox_fpw {
  position: relative;
  margin: 5px 0;
  float: right;
}
.loginbox_fpw:before {
  content: "";
  width: 27px;
  height: 27px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 bottom;
  position: absolute;
  left: -27px;
  top: -6px;
}
.loginbox_fpw:link, .loginbox_fpw:visited {
  color: #9e9e9e;
  font-size: 0.813em;
}
.loginbox_fpw:hover, .loginbox_fpw:focus, .loginbox_fpw:active, .loginbox_fpw.active {
  color: #00bcd5;
}
.loginbox_fpw:hover:before, .loginbox_fpw:focus:before, .loginbox_fpw:active:before, .loginbox_fpw.active:before {
  opacity: 0.5;
}

.login_infobox {
  display: none;
  position: absolute;
  background: #ffffff;
  padding: 5px;
  bottom: -107px;
  left: 30px;
  z-index: 1;
  border: 1px solid #f4f4f4;
  color: #9e9e9e;
  font-size: 0.813em;
}
.login_infobox li + li {
  padding-top: 20px;
}
.login_infobox span {
  margin-right: 5px;
}

.login_info {
  float: left;
  position: relative;
  margin: 5px 0;
  padding: 0 25px 5px 25px;
}
.login_info:before {
  content: "i";
  position: absolute;
  background: #00bcd5;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 1.125em;
  color: #ffffff;
  border-radius: 50%;
  left: 0;
  top: 0;
}
.login_info:link, .login_info:visited {
  color: #9e9e9e;
  font-size: 0.813em;
}
.login_info:hover, .login_info:focus, .login_info:active, .login_info.active {
  color: #00bcd5;
}
.login_info:hover:before, .login_info:focus:before, .login_info:active:before, .login_info.active:before {
  opacity: 0.5;
}
.login_info:hover + .login_infobox, .login_info:focus + .login_infobox, .login_info:active + .login_infobox, .login_info.active + .login_infobox {
  display: block;
}

.login_idlist {
  float: right;
}

.login_id {
  padding: 5px 6px;
  font-size: 0.875em;
  color: #ffffff;
  background: #cccccc;
  border-radius: 50%;
  cursor: pointer;
}
.login_id:link, .login_id:visited {
  color: #ffffff;
  text-decoration: none;
}

.login_id1.active, .login_id1:hover {
  background-color: #51bad7;
}

.login_id2.active, .login_id2:hover {
  background-color: #ff472e;
}

.login_id3.active, .login_id3:hover {
  background-color: #68d122;
}

.loginbox_submit {
  background: #03a9f5;
  color: #ffffff;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  border: 0;
  font-size: 0.938em;
  margin: 5px 0;
}
.loginbox_submit:hover {
  background: #1184b9;
}

.loginbox_newid {
  float: right;
  margin: 5px 0;
}
.loginbox_newid:link, .loginbox_newid:visited {
  background: #ff9000;
  color: #ffffff;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  border: 0;
  text-decoration: none;
  font-size: 0.938em;
}
.loginbox_newid:hover, .loginbox_newid:focus, .loginbox_newid:active, .loginbox_newid.active {
  background: #f46813;
}

@media only screen and (max-width: 768px) {
  .newsphoto {
    padding-bottom: 30px;
    display: inline-block;
    width: 100%;
  }

  .newsboxList02 li {
    width: 100%;
  }
  .newsboxList02 li:nth-child(even) {
    margin: 0;
  }

  .userimg {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .newsphoto li {
    float: none;
    width: 100%;
  }
  .newsphoto li + li {
    margin: 30px 0 0 0;
  }
}

/*# sourceMappingURL=index.css.map */
