.edittable input {
  border: 1px solid #cccccc;
  height: 25px;
}

.deleteSbu, a.deleteSbu {
  background: #cccccc;
  color: #5e5d5d;
  border-radius: 5px;
  display: inline-block;
  padding: 7px 0;
  max-width: 80px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
}
.deleteSbu:hover, a.deleteSbu:hover {
  background: #5e5d5d;
  color: #ffffff;
}

.submitbu, a.submitbu {
  background: #cccccc;
  color: #5e5d5d;
  border-radius: 5px;
  display: inline-block;
  padding: 13px 0;
  max-width: 120px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
.submitbu:hover, a.submitbu:hover {
  background: #03a9f5;
  color: #ffffff;
}

.submitbuRed, a.buinfor {
  background: #f2451d;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 13px 0;
  max-width: 120px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
.submitbuRed:hover, a.buinfor:hover {
  background: #c13717;
}

.buinfor, a.buinfor {
  background: #03a9f5;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 13px 0;
  max-width: 120px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
.buinfor:hover, a.buinfor:hover {
  background: #1184b9;
}

.addbu, a.addbu {
  background: #ff9000;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 7px 0;
  max-width: 80px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
}
.addbu:hover, a.addbu:hover {
  background: #f46813;
}

.submitbuOr, a.submitbuOr {
  background: #ff9000;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 13px 0;
  max-width: 120px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
.submitbuOr:hover, a.submitbuOr:hover {
  background: #f46813;
}

.addbublue, a.addbublue {
  background: #03a9f5;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 7px 0;
  max-width: 80px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
}
.addbublue:hover, a.addbublue:hover {
  background: #1184b9;
}

.disabled, a.disabled {
  background: #cccccc;
  color: #5e5d5d;
  border-radius: 5px;
  display: inline-block;
  padding: 13px 0;
  max-width: 120px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
.disabled:hover, a.disabled:hover {
  background: #03a9f5;
  color: #ffffff;
}

.addbured, a.addbured {
  background: #f2451d;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 7px 0;
  max-width: 80px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
}
.addbured:hover, a.addbured:hover {
  background: #c13717;
}

.linkb:link, .linkb:visited {
  color: #000000;
}
.linkb:hover, .linkb:focus, .linkb:active, .linkb.active {
  color: #03a9f5;
}

.addbu2, a.addbu2 {
  background: #ff9000;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 7px 0;
  max-width: 100px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
}
.addbu2:hover, a.addbu2:hover {
  background: #f46813;
}

.ui-widget-content a.addbublue, .ui-widget-content a.addbu, .ui-widget-content a.adddbured {
  color: #ffffff;
}

/*# sourceMappingURL=layout_bu.css.map */
