.regis_col01L {
  position: absolute;
}

.regis_col01R {
  width: 100%;
  box-sizing: border-box;
  padding-left: 220px;
  min-height: 180px;
}

.regis_col01R + .form_box {
  margin-top: 30px;
}

.regis_col01R_label {
  width: 40%;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
  font-size: 0.875em;
}

.regis_col01R_input {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  line-height: 29px;
  float: left;
}

.regis_col02L {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
  font-size: 0.938em;
}

.regis_col02R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  float: left;
  line-height: 29px;
}

.regis_col03L {
  width: 13%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
  line-height: 29px;
  font-size: 0.938em;
}

.regis_col03R {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  line-height: 29px;
}

.regis_col06R {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
  line-height: 29px;
}

.regis_col06L {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
}

.regis_col02R .radioinput + label {
  width: 33%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.regis_col02_1R .radioinput + label {
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.regis_col_bg {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  font-size: 0.875em;
}
.regis_col_bg:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: -5px;
  height: 15px;
  top: 7px;
}

.regis_col_bg2 {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  background: #f5f5f5;
  border-right: 10px solid #ffffff;
  font-size: 0.875em;
}
.regis_col_bg2:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: -5px;
  height: 15px;
  top: 7px;
}

.regis_col_bg3 {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 5px 0;
  line-height: 29px;
  display: block;
  font-size: 0.875em;
  padding-left: 15px;
}
.regis_col_bg3:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: 5px;
  height: 15px;
  top: 7px;
}

.bgbox {
  background: #f5f5f5;
  margin: 0 0 15px 0;
  display: inline-block;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
}

.bgbox2 {
  background: #FFFFE1;
}

.verticalslist .inputCheckbox + label {
  width: 50%;
  padding-bottom: 16px;
  box-sizing: border-box;
  float: left;
}

.verticalslist label:nth-of-type(odd) {
  clear: left;
}

.label01 {
  display: block;
  width: 100%;
}

/*.addbu
 * margin: 5px 0 */
textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.regis_table {
  width: 100%;
}
.regis_table th {
  background: #f5f5f5;
  padding: 10px 0;
  font-size: 0.938em;
}
.regis_table th + th {
  padding-left: 16px;
}
.regis_table input {
  width: 100%;
}
.regis_table td + td {
  padding-left: 15px;
}
.regis_table td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875em;
}
.regis_table input + input {
  margin-top: 10px;
}
.regis_table tr:nth-child(odd) {
  background: #fffff3;
}

.datalist2 {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist2 h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 38px;
  border-bottom: 1px solid #cccccc;
}
.datalist2 h3:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 25px;
  top: 7px;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #1da070;
}
.datalist2 h3:after {
  content: "";
  width: 8px;
  height: 3.5px;
  position: absolute;
  left: 18px;
  top: 10.47px;
  background: #1da070;
}
.datalist2 ul {
  padding: 15px;
}
.datalist2 ul a {
  font-size: 0.813em;
}

.inforlist {
  padding-bottom: 15px;
}
.inforlist li {
  line-height: 2em;
  border-bottom: 1px dotted #cccccc;
}
.inforlist li ul {
  padding: 0;
}

.inforlistactive {
  background: #FFFCF0;
}

@media only screen and (max-width: 768px) {
  .regis_col01L {
    margin: 0 0 30px 0;
  }

  .regis_col01R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .regis_col01R_label, .regis_col01R_input, .regis_col02L, .regis_col02R, .regis_col03L, .regis_col03R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 520px) {
  .regis_col02R .radioinput + label {
    width: 50%;
  }

  .verticalslist .inputCheckbox + label {
    width: 100%;
  }

  .regis_col01L {
    position: static;
    min-height: auto;
  }

  .regis_col01R {
    padding-left: 0;
  }

  #result {
    margin: 0 auto;
  }
}
.regis_completebox {
  border: 1px solid #cccccc;
  background: #ffffff;
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  height: 25px;
  box-sizing: border-box;
  position: relative;
}
.regis_completebox span {
  position: absolute;
  font-size: 0.75em;
  line-height: 25px;
  left: 5px;
  color: #cccccc;
}

.regis_complete {
  background: #00bcd5;
  height: 100%;
}

.choose_file {
  cursor: pointer;
  z-index: 1;
  background: #ff9000;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 0;
  max-width: 100px;
  min-width: 50px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
  line-height: 1;
}

.choose_file:lang(en) {
  max-width: 120px;
}

#result {
  width: 180px;
  height: 180px;
  border: 1px solid #cccccc;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

#result img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#result + .choose_file + input, #resultB + .choose_file + input {
  display: none;
}

.uploadbox {
  border: 1px solid #cccccc;
  width: 100%;
  max-width: 400px;
  padding: 10px 30px;
}

.uploadlist {
  padding-bottom: 20px;
  position: relative;
}

.regis_dmlist + .centerbox, .regis_table + .centerbox, .uploadlist + .centerbox {
  padding-top: 30px;
}

.datalist + .searchbox {
  margin-top: 30px;
}

.uploaddm {
  text-align: center;
}
.uploaddm input[type="file"] {
  width: 240px;
}

.uploadlist .choose_file {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -25px;
}

.dmname label {
  font-size: 0.938em;
}
.dmname input {
  width: 290px;
  height: 20px;
}

.productlist li {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  margin: 10px 0;
}
.productlist li:hover {
  background: #f5f5f5;
}
.productlist li.activeBg {
  background: #e9e8e8;
}
.productlist li + li:before {
  content: "";
  border-top: 1px solid #cccccc;
  width: 100%;
  position: absolute;
  top: -11px;
  left: 0;
}
.productlist .imgbox {
  float: left;
  clear: left;
  width: 105px;
  height: 105px;
  background: #f7f7f7;
  position: relative;
  margin-right: 10px;
}
.productlist .imgbox img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.productlist .productbu {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
}
.productlist a {
  float: right;
}
.productlist a + a {
  margin-right: 10px;
}
.productlist a.addbu.active {
  background: #e76212;
}
.productlist h3, .productlist p {
  font-size: 0.938em;
  line-height: 1.6;
}
.productlist .producttext {
  min-height: 105px;
  box-sizing: border-box;
  padding-bottom: 30px;
}
.productlist .productCheckT h3 {
  padding-right: 55px;
}
.productlist .productCheck {
  position: absolute;
  right: 10px;
  top: 10px;
}

.productlist2 .imgbox {
  width: 80px;
  height: 80px;
  background: #f7f7f7;
  position: relative;
}
.productlist2 .imgbox img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.imgboxB {
  width: 450px;
  height: 450px;
  background: #f7f7f7;
  position: relative;
  margin: 0 auto 30px auto;
  border: 1px solid #cccccc;
}
.imgboxB img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 600px) {
  .databubox {
    display: inline-block;
    padding-bottom: 20px;
  }

  .databu + a {
    margin-left: 20px;
  }
  .databu + a:after {
    content: "";
    height: 48px;
    position: absolute;
    border-left: 2px dotted #000000;
    left: -10px;
    top: 1px;
  }
  .databu:link, .databu:visited {
    text-decoration: none;
    float: left;
    font-size: 0.938em;
    position: relative;
    padding-left: 45px;
    padding-right: 10px;
    line-height: 50px;
    display: inline-block;
  }
  .databu:before {
    content: "";
    background-image: url(../images/icon/myinfor.png);
    width: 42px;
    height: 38px;
    position: absolute;
    top: 6px;
    left: 0;
  }
  .databu.databu02:before, .databu.databu02.active:before {
    background-position: -42px 0%;
  }
  .databu.databu03:before, .databu.databu03.active:before {
    background-position: -84px 0%;
  }
  .databu.databu04:before, .databu.databu04.active:before {
    background-position: -126px 0%;
  }
  .databu.databu05:before, .databu.databu05.active:before {
    background-position: -166px 0%;
  }
  .databu:hover, .databu:focus, .databu:active, .databu.active {
    color: #03a9f5;
  }
  .databu:hover:before, .databu:focus:before, .databu:active:before, .databu.active:before {
    background-position-y: 100%;
  }
  .databu.active {
    background-color: #f5f5f5;
    color: #000000;
  }
  .databu.active:before {
    background-position: 0% 0%;
  }
  .databu:lang(en):link, .databu:lang(en):visited {
    font-size: 0.875em;
    padding-left: 30px;
    padding-right: 5px;
  }
  .databu:lang(en):before {
    content: "";
    background-image: url(../images/icon/myinfor_s.png);
    width: 30px;
    height: 25px;
    position: absolute;
    top: 12px;
    left: 0;
  }
  .databu:lang(en).databu02:before, .databu:lang(en).databu02.active:before {
    background-position: -30px 0%;
  }
  .databu:lang(en).databu03:before, .databu:lang(en).databu03.active:before {
    background-position: -60px 0%;
  }
  .databu:lang(en).databu04:before, .databu:lang(en).databu04.active:before {
    background-position: -90px 0%;
  }
  .databu:lang(en).databu05:before, .databu:lang(en).databu05.active:before {
    background-position: 0 0%;
  }
  .databu:lang(en):hover, .databu:lang(en):focus, .databu:lang(en):active, .databu:lang(en).active {
    color: #03a9f5;
  }
  .databu:lang(en):hover:before, .databu:lang(en):focus:before, .databu:lang(en):active:before, .databu:lang(en).active:before {
    background-position-y: 100%;
  }
  .databu:lang(en).active {
    background-color: #f5f5f5;
    color: #000000;
  }
}
@media only screen and (max-width: 599px) {
  .databubox {
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
  }

  .databu:link, .databu:visited {
    border: 1px solid #00bcd5;
    border-radius: 15px;
    text-decoration: none;
    font-size: 0.938em;
    padding: 10px;
    display: block;
    float: left;
    margin-top: 10px;
  }
  .databu.active {
    background-color: #00bcd5;
    color: #ffffff;
  }
  .databu + a {
    margin-left: 10px;
  }

  .imgboxB {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width: 490px) {
  .databu:link, .databu:visited {
    width: 100%;
    box-sizing: border-box;
  }
  .databu + a {
    margin-left: 0;
  }
}

/*# sourceMappingURL=registerd.css.map */
