.regis_col01L {
  position: absolute;
}

.regis_col01R {
  width: 100%;
  box-sizing: border-box;
  padding-left: 220px;
  min-height: 270px;
}

.regis_col01R_label {
  width: 40%;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col01R_input {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
}

.regis_col02L {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col02R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  float: left;
}

.regis_col03L {
  width: 13%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
}

.regis_col03R {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
}

.regis_col02R .radioinput + label {
  width: 33%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.verticalslist .inputCheckbox + label {
  width: 50%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.label01 {
  display: block;
  width: 100%;
}

.addbu {
  margin: 5px 0;
}

textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.regis_table {
  width: 100%;
}
.regis_table th {
  background: #f4f4f4;
  padding: 10px 0;
}
.regis_table th + th {
  padding-left: 16px;
}
.regis_table input {
  width: 100%;
}
.regis_table td + td {
  padding-left: 15px;
}
.regis_table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.datalist {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 45px;
  border-bottom: 1px solid #cccccc;
}
.datalist h3:before {
  content: "";
  width: 27px;
  height: 27px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 -34px;
  position: absolute;
  left: 15px;
  top: 0;
}
.datalist ul {
  padding: 15px;
}
.datalist ul a {
  font-size: 0.813em;
}

@media only screen and (max-width: 768px) {
  .regis_col01L {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px 0;
  }

  .regis_col01R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .regis_col01R_label, .regis_col01R_input, .regis_col02L, .regis_col02R, .regis_col03L, .regis_col03R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 520px) {
  .regis_col02R .radioinput + label {
    width: 50%;
  }

  .verticalslist .inputCheckbox + label {
    width: 100%;
  }

  .regis_col01L {
    position: static;
    min-height: auto;
  }

  .regis_col01R {
    padding-left: 0;
  }

  #result {
    margin: 0 auto;
  }
}
.regis_completebox {
  border: 1px solid #cccccc;
  background: #ffffff;
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  line-height: 25px;
  box-sizing: border-box;
}

.regis_complete {
  background: #00bcd5;
  font-size: 0.75em;
  text-align: center;
}

.choose_file {
  cursor: pointer;
  z-index: 1;
  background: #ff9000;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 0;
  max-width: 100px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
}

#result {
  width: 180px;
  height: 180px;
  border: 1px solid #cccccc;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

#result img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#result + .choose_file + input {
  display: none;
}

.uploadbox {
  border: 1px solid #cccccc;
  width: 100%;
  max-width: 400px;
  padding: 10px 30px;
}

.uploadlist {
  padding-bottom: 20px;
  position: relative;
}

.inforlist {
  padding-bottom: 15px;
}
.inforlist li {
  line-height: 2em;
  border-bottom: 1px dotted #cccccc;
}

.inforlistactive {
  background: #FFFCF0;
}

.regis_dmlist + .centerbox, .regis_table + .centerbox, .uploadlist + .centerbox {
  padding-top: 30px;
}

.datalist + .searchbox {
  margin-top: 30px;
}

.uploaddm {
  text-align: center;
}
.uploaddm input[type="file"] {
  width: 240px;
}

.uploadlist .choose_file {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -25px;
}

.dmname label {
  font-size: 0.938em;
}
.dmname input {
  width: 290px;
  height: 20px;
}

/*# sourceMappingURL=registerd.css.map */
