.regis_col01L {
  position: absolute;
}

.regis_col01R {
  width: 100%;
  box-sizing: border-box;
  padding-left: 220px;
  min-height: 180px;
}

.regis_col01R + .form_box {
  margin-top: 30px;
}

.regis_col01R_label {
  width: 40%;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
  font-size: 0.875em;
}

.regis_col01R_input {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  line-height: 29px;
  float: left;
}

.regis_col02L {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
  font-size: 0.938em;
}

.regis_col02R, .regis_col02_1R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  float: left;
  line-height: 29px;
}

.regis_col03L {
  width: 13%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
  line-height: 29px;
  font-size: 0.938em;
}

.regis_col03R {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  line-height: 29px;
}

.regis_col06R {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
  line-height: 29px;
}

.regis_col06L {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
  line-height: 29px;
}

.regis_col02R .radioinput + label {
  width: 33%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.regis_col02_1R .radioinput + label {
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.regis_col_bg {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  font-size: 0.875em;
}
.regis_col_bg:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: -5px;
  height: 15px;
  top: 7px;
}

.regis_col_bg2 {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  background: #f5f5f5;
  border-right: 10px solid #ffffff;
  font-size: 0.875em;
}
.regis_col_bg2:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: -5px;
  height: 15px;
  top: 7px;
}

.regis_col_bg3 {
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 5px 0;
  line-height: 29px;
  display: block;
  font-size: 0.875em;
  padding-left: 15px;
}
.regis_col_bg3:before {
  content: "";
  border-left: 3px solid #f48f13;
  position: absolute;
  left: 5px;
  height: 15px;
  top: 7px;
}

.bgbox {
  background: #f5f5f5;
  margin: 0 0 15px 0;
  display: inline-block;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
}

.bgbox2 {
  background: #FFFFE1;
}

.verticalslist .inputCheckbox + label {
  width: 50%;
  padding-bottom: 16px;
  box-sizing: border-box;
  float: left;
}

.verticalslist label:nth-of-type(odd) {
  clear: left;
}

.label01 {
  display: block;
  width: 100%;
}

/*.addbu
 * margin: 5px 0 */
textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.regis_table {
  width: 100%;
}
.regis_table th {
  background: #f5f5f5;
  padding: 10px 0;
  font-size: 0.938em;
}
.regis_table th + th {
  padding-left: 16px;
}
.regis_table input {
  width: 100%;
}
.regis_table td + td {
  padding-left: 15px;
}
.regis_table td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875em;
}
.regis_table input + input {
  margin-top: 10px;
}
.regis_table tr:nth-child(odd) {
  background: #fffff3;
}

.datalist2 {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist2 h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 38px;
  border-bottom: 1px solid #cccccc;
}
.datalist2 h3:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 25px;
  top: 7px;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #1da070;
}
.datalist2 h3:after {
  content: "";
  width: 8px;
  height: 3.5px;
  position: absolute;
  left: 18px;
  top: 10.47px;
  background: #1da070;
}
.datalist2 ul {
  padding: 15px;
}
.datalist2 ul a {
  font-size: 0.813em;
}

.inforlist {
  padding-bottom: 15px;
}
.inforlist li {
  line-height: 2em;
  border-bottom: 1px dotted #cccccc;
}
.inforlist li ul {
  padding: 0;
}

.inforlistactive {
  background: #FFFCF0;
}

@media only screen and (max-width: 768px) {
  .regis_col01L {
    margin: 0 0 30px 0;
  }

  .regis_col01R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .regis_col01R_label, .regis_col01R_input, .regis_col02L, .regis_col02R, .regis_col03L, .regis_col03R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 520px) {
  .regis_col02R .radioinput + label {
    width: 50%;
  }

  .verticalslist .inputCheckbox + label {
    width: 100%;
  }

  .regis_col01L {
    position: static;
    min-height: auto;
  }

  .regis_col01R {
    padding-left: 0;
  }

  #result {
    margin: 0 auto;
  }
}
.regis_completebox {
  border: 1px solid #cccccc;
  background: #ffffff;
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  height: 25px;
  box-sizing: border-box;
  position: relative;
}
.regis_completebox span {
  position: absolute;
  font-size: 0.75em;
  line-height: 25px;
  left: 5px;
  color: #cccccc;
}

.regis_complete {
  background: #00bcd5;
  height: 100%;
}

.choose_file {
  cursor: pointer;
  z-index: 1;
  background: #ff9000;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 0;
  max-width: 100px;
  min-width: 50px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
  line-height: 1;
}

.choose_file:lang(en) {
  max-width: 120px;
}

#result {
  width: 180px;
  height: 180px;
  border: 1px solid #cccccc;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

#result img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#result + .choose_file + input, #resultB + .choose_file + input {
  display: none;
}

.uploadbox {
  border: 1px solid #cccccc;
  width: 100%;
  max-width: 400px;
  padding: 10px 30px;
}

.uploadlist {
  padding-bottom: 20px;
  position: relative;
}

.regis_dmlist + .centerbox, .regis_table + .centerbox, .uploadlist + .centerbox {
  padding-top: 30px;
}

.datalist + .searchbox {
  margin-top: 30px;
}

.uploaddm {
  text-align: center;
}
.uploaddm input[type="file"] {
  width: 240px;
}

.uploadlist .choose_file {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -25px;
}

.dmname label {
  font-size: 0.938em;
}
.dmname input {
  width: 290px;
  height: 20px;
}

.productlist li {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  margin: 10px 0;
}
.productlist li:hover {
  background: #f5f5f5;
}
.productlist li.activeBg {
  background: #e9e8e8;
}
.productlist li + li:before {
  content: "";
  border-top: 1px solid #cccccc;
  width: 100%;
  position: absolute;
  top: -11px;
  left: 0;
}
.productlist .imgbox {
  float: left;
  clear: left;
  width: 105px;
  height: 105px;
  background: #f7f7f7;
  position: relative;
  margin-right: 10px;
}
.productlist .imgbox img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.productlist .productbu {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
}
.productlist a {
  float: right;
}
.productlist a + a {
  margin-right: 10px;
}
.productlist a.addbu.active {
  background: #e76212;
}
.productlist h3, .productlist p {
  font-size: 0.938em;
  line-height: 1.6;
}
.productlist .producttext {
  min-height: 105px;
  box-sizing: border-box;
  padding-bottom: 30px;
}
.productlist .productCheckT h3 {
  padding-right: 55px;
}
.productlist .productCheck {
  position: absolute;
  right: 10px;
  top: 10px;
}

.productlist2 .imgbox {
  width: 80px;
  height: 80px;
  background: #f7f7f7;
  position: relative;
}
.productlist2 .imgbox img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.imgboxB {
  width: 450px;
  height: 450px;
  background: #f7f7f7;
  position: relative;
  margin: 0 auto 30px auto;
  border: 1px solid #cccccc;
}
.imgboxB img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 600px) {
  .databubox {
    display: inline-block;
    padding-bottom: 20px;
  }

  .databu + a {
    margin-left: 20px;
  }
  .databu + a:after {
    content: "";
    height: 48px;
    position: absolute;
    border-left: 2px dotted #000000;
    left: -10px;
    top: 1px;
  }
  .databu:link, .databu:visited {
    text-decoration: none;
    float: left;
    font-size: 0.938em;
    position: relative;
    padding-left: 45px;
    padding-right: 10px;
    line-height: 50px;
    display: inline-block;
  }
  .databu:before {
    content: "";
    background-image: url(../images/icon/myinfor.png);
    width: 42px;
    height: 38px;
    position: absolute;
    top: 6px;
    left: 0;
  }
  .databu.databu02:before, .databu.databu02.active:before {
    background-position: -42px 0%;
  }
  .databu.databu03:before, .databu.databu03.active:before {
    background-position: -84px 0%;
  }
  .databu.databu04:before, .databu.databu04.active:before {
    background-position: -126px 0%;
  }
  .databu.databu05:before, .databu.databu05.active:before {
    background-position: -166px 0%;
  }
  .databu:hover, .databu:focus, .databu:active, .databu.active {
    color: #03a9f5;
  }
  .databu:hover:before, .databu:focus:before, .databu:active:before, .databu.active:before {
    background-position-y: 100%;
  }
  .databu.active {
    background-color: #f5f5f5;
    color: #000000;
  }
  .databu.active:before {
    background-position: 0% 0%;
  }
  .databu:lang(en):link, .databu:lang(en):visited {
    font-size: 0.875em;
    padding-left: 30px;
    padding-right: 5px;
  }
  .databu:lang(en):before {
    content: "";
    background-image: url(../images/icon/myinfor_s.png);
    width: 30px;
    height: 25px;
    position: absolute;
    top: 12px;
    left: 0;
  }
  .databu:lang(en).databu02:before, .databu:lang(en).databu02.active:before {
    background-position: -30px 0%;
  }
  .databu:lang(en).databu03:before, .databu:lang(en).databu03.active:before {
    background-position: -60px 0%;
  }
  .databu:lang(en).databu04:before, .databu:lang(en).databu04.active:before {
    background-position: -90px 0%;
  }
  .databu:lang(en).databu05:before, .databu:lang(en).databu05.active:before {
    background-position: 0 0%;
  }
  .databu:lang(en):hover, .databu:lang(en):focus, .databu:lang(en):active, .databu:lang(en).active {
    color: #03a9f5;
  }
  .databu:lang(en):hover:before, .databu:lang(en):focus:before, .databu:lang(en):active:before, .databu:lang(en).active:before {
    background-position-y: 100%;
  }
  .databu:lang(en).active {
    background-color: #f5f5f5;
    color: #000000;
  }
}
@media only screen and (max-width: 599px) {
  .databubox {
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
  }

  .databu:link, .databu:visited {
    border: 1px solid #00bcd5;
    border-radius: 15px;
    text-decoration: none;
    font-size: 0.938em;
    padding: 10px;
    display: block;
    float: left;
    margin-top: 10px;
  }
  .databu.active {
    background-color: #00bcd5;
    color: #ffffff;
  }
  .databu + a {
    margin-left: 10px;
  }

  .imgboxB {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width: 490px) {
  .databu:link, .databu:visited {
    width: 100%;
    box-sizing: border-box;
  }
  .databu + a {
    margin-left: 0;
  }
}
.addbu {
  margin: 0;
}

.addbu + .edittable:before {
  content: "";
  display: block;
  height: 5px;
}

select {
  height: 30px;
  border: 1px solid #cccccc;
  padding: 5px;
}

.regis_col04R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  line-height: 1.6em;
  float: left;
}

.article_col1s {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.magb30 {
  margin-bottom: 30px;
}

.magb10 {
  margin-bottom: 10px;
}

.rightbox {
  float: right;
}

a.rightbox + a.rightbox {
  margin-right: 10px;
}

.form_box + article {
  padding-top: 15px;
  position: relative;
}

.sys_searchboxco2 + article {
  padding-top: 15px;
  clear: both;
}

.sys_searchbox {
  display: inline-block;
  width: 100%;
}

.sys_searchboxcol01L {
  width: 70%;
  float: left;
}

.sys_searchboxcol01R {
  width: 30%;
  float: left;
  padding-left: 30px;
  box-sizing: border-box;
}

.edittable td:last-of-type {
  width: auto;
  min-width: 0;
}

.borderTitle2 + .addbured {
  float: right;
}

.borderTitle2 + .form_box {
  margin-top: 10px;
}

.borderTitle2 {
  margin-bottom: 15px;
  font-size: 1.125em;
  display: inline-block;
  padding-left: 8px;
  position: relative;
}
.borderTitle2:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-style: solid;
  border-width: 6px 6px 0 0;
  border-color: #ff9000 transparent transparent transparent;
}

ul + .borderTitle3 {
  margin-top: 20px;
}

.borderTitle3 {
  font-size: 0.875em;
  background: #f5f5f5;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  color: #777;
}
.borderTitle3 b {
  color: #00bcd5;
}
.borderTitle3:before {
  content: ">>>";
  color: #00bcd5;
}

.sys_searchboxco2 {
  width: 50%;
  float: left;
}
.sys_searchboxco2 .form_box {
  display: inline-block;
  width: 100%;
}

.sys_searchboxco2 + .sys_searchboxco2 {
  box-sizing: border-box;
  padding-left: 20px;
}

.popupbox {
  display: none;
  width: 300px;
}
.popupbox h3 {
  background: #2e7ed1;
  color: #ffffff;
  padding: 10px;
}
.popupbox p {
  padding: 10px;
}

.import_ok {
  position: relative;
}
.import_ok:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 -142px;
  position: absolute;
  left: 0;
  top: 7px;
}

.import_no {
  position: relative;
}
.import_no:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 -162px;
  position: absolute;
  left: 0;
  top: 7px;
}

.import_ok, .import_no {
  padding: 10px 0 10px 26px;
  display: block;
}

#upexl {
  display: none;
}

tfoot tr.tfootbg {
  background: #FFFFE1;
}
tfoot p {
  line-height: 2em;
}

#editform .regis_col04R p {
  line-height: 1.8em;
}

.centerbox2 {
  text-align: center;
}

.regis_col05R {
  width: 6.2em;
  float: left;
}

/*select color */
.edittable tr.schedulebg001, select option.schedulebg001 {
  background: #e5ffe1;
  font-size: 0.938em;
  line-height: 1.6;
}
.edittable tr.schedulebg002, select option.schedulebg002 {
  background: #c2f4ec;
  font-size: 0.938em;
  line-height: 1.6;
}
.edittable tr.schedulebg003, select option.schedulebg003 {
  background: #f0f0f0;
  font-size: 0.938em;
  line-height: 1.6;
}

.membertable tbody, .membertable tr, .membertable td {
  width: 100%;
  display: inline-block;
}
.membertable td {
  padding: 0 5px 0 10px;
  font-size: 0.938em;
  box-sizing: border-box;
  position: relative;
}
.membertable tr:nth-child(odd) {
  background: #E9E9E9;
}
.membertable tr:nth-child(even) {
  background: #F5F5F5;
}
.membertable tr:hover {
  background: #F3FFE4;
}

.deletelistg {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}

.groupmember {
  font-size: 0.813em;
  padding-left: 20px;
}

.logobox {
  width: 114px;
  height: 100px;
  position: relative;
}
.logobox img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.dllist {
  margin-bottom: 20px;
}
.dllist dt {
  background: #E9E9E9;
  padding: 10px 15px;
}
.dllist dd {
  background: #F5F5F5;
  padding: 10px 15px 20px 15px;
}

.downloadbox li {
  padding: 5px;
  box-sizing: border-box;
}
.downloadbox a:link, .downloadbox a:visited {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 0 5px;
  text-decoration: none;
  color: #9e9e9e;
  font-size: 0.75em;
  display: block;
  box-sizing: border-box;
  border-radius: 0 8px 0 0;
  position: relative;
}
.downloadbox a:hover, .downloadbox a:focus, .downloadbox a:active, .downloadbox a.active {
  background: #eeeeee;
  color: #03a9f5;
}
.downloadbox a:before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #ddd;
}

.dialoglist {
  padding: 30px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}
.dialoglist li {
  clear: both;
}
.dialoglist li + li {
  margin-top: 20px;
}
.dialoglist .dialog_img {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
}
.dialoglist .dialog_img img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.dialoglist .dialogbox {
  margin-left: 60px;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #ddd;
}
.dialoglist .dialogbox:before {
  content: "";
  position: absolute;
  top: 14px;
  left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent #ddd transparent transparent;
}
.dialoglist .dialogbox:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.dialoglist h6 {
  float: left;
  font-size: 0.938em;
}
.dialoglist span {
  float: right;
  font-size: 0.813em;
  color: #cccccc;
}
.dialoglist p {
  clear: right;
  font-size: 0.875em;
  color: #9e9e9e;
  padding-top: 5px;
  line-height: 1.6;
}
.dialoglist .attachment {
  font-size: 0.75em;
  padding: 10px;
  background: #ffffff;
  margin-top: 10px;
}
.dialoglist .attachment ul {
  padding: 15px 15px 0 15px;
}
.dialoglist .attachment ul li + li {
  margin-top: 15px;
}
.dialoglist .attachment a:link, .dialoglist .attachment a:visited {
  text-decoration: none;
  font-size: 0.813em;
  color: #818181;
  position: relative;
}
.dialoglist .attachment a:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 12px;
  left: -13px;
  top: 0;
  border-radius: 0 5px 0 0;
  background: #cccccc;
}
.dialoglist .attachment a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 0 5px;
  border-color: transparent transparent transparent #03a9f5;
  left: -9px;
  top: 0;
}
.dialoglist .attachment a:hover, .dialoglist .attachment a:focus, .dialoglist .attachment a:active, .dialoglist .attachment a.active {
  border-bottom: 1px dotted #03a9f5;
  color: #03a9f5;
}

.replybox {
  padding: 15px;
  margin-bottom: 30px;
  position: relative;
}

.multipletable {
  margin: 20px auto 0 auto;
}
.multipletable select {
  width: 120px;
  height: 120px;
}

.datalist3 {
  position: absolute;
  z-index: 1;
  background: #ffffff;
  width: 150px;
  right: 0;
  padding: 10px;
  border: 1px solid #cccccc;
  top: 22px;
  font-size: 0.813em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.margin0 {
  margin: 0 auto;
}

.regis_dmlist a.addbublue:hover {
  color: #ffffff;
}

.productName {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.invchecklist dt {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
}
.invchecklist dd {
  padding: 20px;
}
.invchecklist li + li {
  padding-top: 10px;
}
.invchecklist .setBox {
  display: inline-block;
  width: 100%;
  padding: 20px 0 10px 30px;
}

.borderbottom {
  border: none;
  border-bottom: 1px solid #cccccc;
  font-size: 0.938em;
  color: #cccccc;
}

.radioinput:checked + label + .borderbottom {
  border-bottom: 1px solid #00bcd5;
  color: #000000;
}

.radioinput.setdisabled + label {
  color: #cccccc;
}

.bellicon {
  text-indent: -99999px;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #03a9f5;
  border-radius: 10px 10px 0 0;
  margin-left: 15px;
  -webkit-animation: myfirst 0.4s linear 0s alternate infinite;
  animation: myfirst 0.4s linear 0s alternate infinite;
}
.bellicon:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 0;
  border-bottom: 5px solid #03a9f5;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  top: 8px;
  left: -3px;
  border-radius: 0 0 5px 5px;
}
.bellicon:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 14px;
  width: 4px;
  border-top: 2px solid #03a9f5;
  border-bottom: 3px solid #03a9f5;
  top: -2px;
  left: 3px;
  border-radius: 2px;
}
.bellicon:hover {
  background: #1184b9;
  -webkit-animation: myfirst 0s linear 0s alternate 1;
  animation: myfirst 0s linear 0s alternate 1;
}
.bellicon:hover:before {
  border-bottom-color: #1184b9;
}
.bellicon:hover:after {
  border-top-color: #1184b9;
  border-bottom-color: #1184b9;
}

@-webkit-keyframes myfirst {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes myfirst {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@media only screen and (max-width: 520px) {
  .sys_searchboxcol01L, .sys_searchboxcol01R, .sys_searchboxco2 {
    width: 100%;
  }

  .sys_searchboxcol01R {
    text-align: center;
    padding: 0 0 10px 0;
  }

  .sys_searchboxco2 + .sys_searchboxco2 {
    padding: 0;
    margin-top: 20px;
  }

  .multipletable td {
    display: block;
  }
  .multipletable td:nth-child(2) {
    padding: 30px 0;
  }
}

/*# sourceMappingURL=sys.css.map */
