.regis_col01L {
  position: absolute;
}

.regis_col01R {
  width: 100%;
  box-sizing: border-box;
  padding-left: 220px;
  min-height: 180px;
}

.regis_col01R + .form_box {
  margin-top: 30px;
}

.regis_col01R_label {
  width: 40%;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col01R_input {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
}

.regis_col02L {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col02R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  float: left;
}

.regis_col03L {
  width: 13%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
}

.regis_col03R {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
}

.regis_col06R {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 1%;
  float: left;
}

.regis_col06L {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  float: left;
  clear: left;
}

.regis_col02R .radioinput + label {
  width: 33%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.verticalslist .inputCheckbox + label {
  width: 50%;
  padding-bottom: 10px;
  box-sizing: border-box;
  float: left;
}

.label01 {
  display: block;
  width: 100%;
}

.addbu {
  margin: 5px 0;
}

textarea {
  width: 100%;
  height: 90px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.regis_table {
  width: 100%;
}
.regis_table th {
  background: #f4f4f4;
  padding: 10px 0;
}
.regis_table th + th {
  padding-left: 16px;
}
.regis_table input {
  width: 100%;
}
.regis_table td + td {
  padding-left: 15px;
}
.regis_table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.datalist {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 45px;
  border-bottom: 1px solid #cccccc;
}
.datalist h3:before {
  content: "";
  width: 27px;
  height: 27px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 -34px;
  position: absolute;
  left: 15px;
  top: 0;
}
.datalist ul {
  padding: 15px;
}
.datalist ul a {
  font-size: 0.813em;
}

.datalist2 {
  border: 1px solid #cccccc;
  padding: 15px 0;
}
.datalist2 h3 {
  color: #2e7ed1;
  position: relative;
  padding: 5px 15px 15px 38px;
  border-bottom: 1px solid #cccccc;
}
.datalist2 h3:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 25px;
  top: 7px;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #1da070;
}
.datalist2 h3:after {
  content: "";
  width: 8px;
  height: 3.5px;
  position: absolute;
  left: 18px;
  top: 10.47px;
  background: #1da070;
}
.datalist2 ul {
  padding: 15px;
}
.datalist2 ul a {
  font-size: 0.813em;
}

.inforlist {
  padding-bottom: 15px;
}
.inforlist li {
  line-height: 2em;
  border-bottom: 1px dotted #cccccc;
}
.inforlist li ul {
  padding: 0;
}
.inforlist span {
  margin-top: 10px;
  display: block;
  line-height: 1.5em;
  font-size: 0.938em;
  font-weight: bold;
  background: #fffcf0;
  text-align: center;
  padding: 5px;
}

.inforlistactive {
  background: #FFFCF0;
}

@media only screen and (max-width: 768px) {
  .regis_col01L {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px 0;
  }

  .regis_col01R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .regis_col01R_label, .regis_col01R_input, .regis_col02L, .regis_col02R, .regis_col03L, .regis_col03R {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 520px) {
  .regis_col02R .radioinput + label {
    width: 50%;
  }

  .verticalslist .inputCheckbox + label {
    width: 100%;
  }

  .regis_col01L {
    position: static;
    min-height: auto;
  }

  .regis_col01R {
    padding-left: 0;
  }

  #result {
    margin: 0 auto;
  }
}
.regis_completebox {
  border: 1px solid #cccccc;
  background: #ffffff;
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  line-height: 25px;
  box-sizing: border-box;
}

.regis_complete {
  background: #00bcd5;
  font-size: 0.75em;
  text-align: center;
}

.choose_file {
  cursor: pointer;
  z-index: 1;
  background: #ff9000;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 0;
  max-width: 100px;
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.813em;
}

#result {
  width: 180px;
  height: 180px;
  border: 1px solid #cccccc;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

#result img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#result + .choose_file + input {
  display: none;
}

.uploadbox {
  border: 1px solid #cccccc;
  width: 100%;
  max-width: 400px;
  padding: 10px 30px;
}

.uploadlist {
  padding-bottom: 20px;
  position: relative;
}

.regis_dmlist + .centerbox, .regis_table + .centerbox, .uploadlist + .centerbox {
  padding-top: 30px;
}

.datalist + .searchbox {
  margin-top: 30px;
}

.uploaddm {
  text-align: center;
}
.uploaddm input[type="file"] {
  width: 240px;
}

.uploadlist .choose_file {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -25px;
}

.dmname label {
  font-size: 0.938em;
}
.dmname input {
  width: 290px;
  height: 20px;
}

.addbu {
  margin: 0;
}

.addbu + .edittable:before {
  content: "";
  display: block;
  height: 5px;
}

select {
  height: 30px;
  border: 1px solid #cccccc;
  padding: 5px;
}

.regis_col04R {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  line-height: 1.6em;
  float: left;
}

.article_col1s {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.magb30 {
  margin-bottom: 30px;
}

.magb10 {
  margin-bottom: 10px;
}

.rightbox {
  float: right;
}

a.rightbox + a.rightbox {
  margin-right: 10px;
}

.form_box + article {
  padding-top: 15px;
  position: relative;
}

.sys_searchboxco2 + article {
  padding-top: 15px;
  clear: both;
}

.sys_searchbox {
  display: inline-block;
  width: 100%;
}

.sys_searchboxcol01L {
  width: 70%;
  float: left;
}

.sys_searchboxcol01R {
  width: 30%;
  float: left;
  padding-left: 30px;
  box-sizing: border-box;
}

.form_box {
  padding: 25px 15px 10px 15px;
}

.edittable td:last-of-type {
  width: auto;
  min-width: 0;
}

.borderTitle2 + .addbured {
  float: right;
}

.borderTitle2 {
  margin-bottom: 15px;
  font-size: 1.125em;
  display: inline-block;
  padding-left: 8px;
  position: relative;
}
.borderTitle2:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-style: solid;
  border-width: 6px 6px 0 0;
  border-color: #ff9000 transparent transparent transparent;
}

.sys_searchboxco2 {
  width: 50%;
  float: left;
}
.sys_searchboxco2 .form_box {
  display: inline-block;
  width: 100%;
}

.sys_searchboxco2 + .sys_searchboxco2 {
  box-sizing: border-box;
  padding-left: 20px;
}

.popupbox {
  display: none;
  width: 300px;
}
.popupbox h3 {
  background: #2e7ed1;
  color: #ffffff;
  padding: 10px;
}
.popupbox p {
  padding: 10px;
}

.import_ok {
  position: relative;
}
.import_ok:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 -142px;
  position: absolute;
  left: 0;
  top: 7px;
}

.import_no {
  position: relative;
}
.import_no:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-s3235817286.png);
  background-repeat: no-repeat;
  background-position: 0 -162px;
  position: absolute;
  left: 0;
  top: 7px;
}

.import_ok, .import_no {
  padding: 10px 0 10px 26px;
  display: block;
}

#upexl {
  display: none;
}

tfoot tr.tfootbg {
  background: #FFFFE1;
}
tfoot p {
  line-height: 2em;
}

#editform .regis_col04R p {
  line-height: 1.8em;
}

.centerbox2 {
  text-align: center;
}

.regis_col05R {
  width: 6.2em;
  float: left;
}

.membertable tbody, .membertable tr, .membertable td {
  width: 100%;
  display: inline-block;
}
.membertable td {
  padding: 10px 5px 10px 10px;
  font-size: 0.938em;
  box-sizing: border-box;
  position: relative;
}
.membertable tr:nth-child(odd) {
  background: #E9E9E9;
}
.membertable tr:nth-child(even) {
  background: #F5F5F5;
}
.membertable tr:hover {
  background: #F3FFE4;
}

.deletelistg {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}

.menubox a {
  padding-top: 130px;
  display: inline-block;
  width: 120px;
  position: relative;
  color: #000000;
  text-decoration: none;
}
.menubox a:hover {
  color: #2e7ed1;
}
.menubox a:before {
  content: "";
  background: url(../images/msgbox.png) no-repeat;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
}
.menubox a.menubox01:before {
  background-position: 0 -120px;
}
.menubox a.menubox02:before {
  background-position: 0 -360px;
}
.menubox a.menubox03:before {
  background-position: 0 -600px;
}
.menubox a.menubox04:before {
  background-position: 0 -840px;
}
.menubox a.menubox05:before {
  background-position: 0 -1080px;
}
.menubox a.menubox06:before {
  background-position: 0 -1320px;
}
.menubox a.menubox07:before {
  background-position: 0 -1560px;
}
.menubox a.menubox08:before {
  background-position: 0 -1800px;
}
.menubox a.menubox09:before {
  background-position: 0 -2040px;
}
.menubox a.menubox01:hover:before {
  background-position: 0 0;
}
.menubox a.menubox02:hover:before {
  background-position: 0 -240px;
}
.menubox a.menubox03:hover:before {
  background-position: 0 -480px;
}
.menubox a.menubox04:hover:before {
  background-position: 0 -720px;
}
.menubox a.menubox05:hover:before {
  background-position: 0 -960px;
}
.menubox a.menubox06:hover:before {
  background-position: 0 -1200px;
}
.menubox a.menubox07:hover:before {
  background-position: 0 -1440px;
}
.menubox a.menubox08:hover:before {
  background-position: 1px -1680px;
}
.menubox a.menubox09:hover:before {
  background-position: 0 -1920px;
}
.menubox a .unread {
  position: absolute;
  right: 0;
  bottom: 37px;
  background: #f2451d;
  color: #ffffff;
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
}

.groupmember {
  font-size: 0.813em;
  padding-left: 20px;
}

.logobox {
  width: 114px;
  height: 100px;
  position: relative;
}
.logobox img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.dllist {
  margin-bottom: 20px;
}
.dllist dt {
  background: #E9E9E9;
  padding: 10px 15px;
}
.dllist dd {
  background: #F5F5F5;
  padding: 10px 15px 20px 15px;
}

.multipletable {
  margin: 20px auto 0 auto;
}
.multipletable select {
  width: 120px;
  height: 120px;
}

.datalist3 {
  position: absolute;
  z-index: 1;
  background: #ffffff;
  width: 150px;
  right: 0;
  padding: 10px;
  border: 1px solid #cccccc;
  top: 22px;
  font-size: 0.813em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.margin0 {
  margin: 0 auto;
}

.regis_dmlist a.addbublue:hover {
  color: #ffffff;
}

@media only screen and (max-width: 520px) {
  .sys_searchboxcol01L, .sys_searchboxcol01R, .sys_searchboxco2 {
    width: 100%;
  }

  .sys_searchboxcol01R {
    text-align: center;
    padding: 0 0 10px 0;
  }

  .sys_searchboxco2 + .sys_searchboxco2 {
    padding: 0;
    margin-top: 20px;
  }

  .multipletable td {
    display: block;
  }
  .multipletable td:nth-child(2) {
    padding: 30px 0;
  }
}

/*# sourceMappingURL=sys.css.map */
