@using prj_BIZ_System.Models


@{
    ViewBag.Title = "買主資訊列表";
}

<article class="form_box article_col1">
    <h2>新聞列表</h2>
    <table class="edittable">
        <tr>
            <th>登入帳號</th>
            <th>公司名稱</th>
            <th>媒合需求</th>
            <th></th>
            <th>新聞類型</th>
            <th>活動編號</th>
            <th>活動連結</th>
            <th>內容</th>
            <th></th>
        </tr>
    </table>
</article>
