@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Match_ViewModel


@{
    ViewBag.Title = "媒合時程安排(買主)";
}

@section pagestyle{
    <link href="~/stylesheets/schedule.css" rel="stylesheet" />
}

<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial", "User");
    }
    <article class="article_col2">
        <h2 class="borderTitle">
            媒合時程安排
        </h2>

        <section class="form_box w55">
            <h2>您表達有意願洽談的賣主</h2>
            <ul class="comicon listlink">
                @foreach (MatchmakingAllModel matchmakingAllModel in Model.matchmakingAllList)
                {
                    <li>
                        <a href="@Url.Action("UserInfo","User",new {user_id = matchmakingAllModel.seller_id})">@matchmakingAllModel.company</a>
                    </li>
                }
            </ul>
        </section>
        <section class="form_box w45">
            <h2>主辦方排定洽談的賣家</h2>
            <ul class="dmicon listlink">
                @foreach (MatchmakingScheduleModel matchmakingScheduleModel in Model.matchmakingScheduleList)
                {
                    <li>
                        <a href="@Url.Action("UserInfo","User",new {user_id = matchmakingScheduleModel.seller_id})">@matchmakingScheduleModel.company</a>
                    </li>
                }
            </ul>
        </section>
    </article>
</div>

