@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Manager_ViewModel

@{ 
    ViewBag.Title = "媒合時程大表";
}

@{ 
    <link href="~/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1">
    <article>
        <h2 class="borderTitle2">媒合時程大表</h2>
        <a href="" class="addbublue rightbox">匯出Excel</a>
        <a href="" class="addbublue rightbox">儲存</a>
        <table class="edittable">
            <thead>

                <tr>
                    <th>
                        <div class="centerbox">
                            <a href="schedulefrom_time.html" class="addbu">設定時段</a>
                        </div>
                    </th>
                    <th class="centerbox2">AA公司</th>
                </tr>

            </thead>
            <tbody>
                
                <tr>
                    <td>10:20~10:40</td>
                    <td>
                        <select name="" id="">
                            <option value="">新北市電腦公會</option>
                            <option value="">新北市電腦公會01</option>
                            <option value="">新北市電腦公會02</option>
                            <option value="">新北市電腦公會03</option>
                        </select>
                    </td>
                </tr>
             
            </tbody>
            <tfoot>

                <tr class="tfootbg">
                    <td class="centerbox2">雙方有媒合意願</td>
                    <td class="centerbox2">
                        <p>新北市電腦公會</p>
                        <p>新北市電腦公會02</p>
                    </td>
                </tr>

                <tr>
                    <td class="centerbox2">買方有媒合意願</td>
                    <td class="centerbox2">
                        <p>新北市電腦公會03</p>
                        <p>新北市電腦公會04</p>
                    </td>
                </tr>

            </tfoot>
        </table>
    </article>
</div>
