@using prj_BIZ_System.Models

@{
    ViewBag.Title = "ForgetPassword";
}

@section pagestyle{
    <link href="/stylesheets/password_edit.css" rel="stylesheet" />
}
<div class="article_col1">
    @{
        Html.RenderAction("_NavSearchPartial", "User");
    }
    <article class="article_col2">
        <form action="@Url.Action("ForgetPassword","Password")" class="form_box" method="post">
            <h2>忘記密碼</h2>
            <p>
                若您忘記密碼，請輸入註冊時的帳號及Email，<br />
                系統將送一組預設密碼給您，<br />
                如有疑問，請洽系統管理人員，謝謝。
            </p>
            <ul class="loginbox">
                <li>
                    <label for="">帳號:</label>
                    <input type="text" text=""><br>
                </li>
                <li>
                    <label for="">E-mail:</label>
                    <input type="email" text=""><br>
                </li>

            </ul>
            <div class="centerbox">
                <button class="buinfor" type="submit">確定送出</button>
            </div>
        </form>
    </article>
</div>