@using prj_BIZ_System.Models
@model prj_BIZ_System.Models.Message_ViewModel


@{
    ViewBag.Title = "新增私人訊息";
}

@section pagestyle{
    <link href="/stylesheets/sys.css" rel="stylesheet" />
}

<div class="article_col1s">
    <form id="form" action="@Url.Action("DoPrivateAdd")" class="form_box sys_searchbox" method="post" enctype="multipart/form-data">
        <h2>新增私人訊息</h2>
        <label for="" class="regis_col02L">對象</label>
        <input name="msg_member" id="tags" size="50" class="regis_col02R">
        <label for="" class="regis_col02L">主題</label>
        <input name="msg_title" type="text" class="regis_col02R">
        <label for="" class="regis_col02L">內容</label>
        <textarea class="regis_col02R" name="msg_content" id="msg_content" placeholder="三百字以內" maxlength="300"></textarea>
        <label for="" class="regis_col02L">上傳附件</label>
        <div class="regis_col02R">
            <label class="addbu" id="upload" for="iupexl">選取檔案</label>
            <input type="file" id="iupexl" name="iupexl">
            <input type="text" id="upexl_name" name="upexl_name">
        </div>
        <div class="centerbox">
            <button type="submit" class="buinfor">確定新增</button>
            <a href="@Url.Action("MessagePrivateList")" class="submitbu">返回私人訊息</a>
        </div>

    </form>

</div>

@Scripts.Render("~/bundles/jqueryUI")

<script>
		  $(function() {
		      $("#iupexl").on('change', function () {
				$("#upexl_name").val($(this).val());
		      });

		      $("#form").submit(function () {
		          
		          var msg_member = $('input[name="msg_member"]').val();
		          var msg_title = $('input[name="msg_title"]').val();
		          var msg_content = $("#msg_content").val();

		          var errMsg = checkValidationOk(msg_member, msg_title, msg_content)
		          if (errMsg != '') {
		              alert(errMsg);
		              return false;
		          }

		      });

		      $("#msg_content").keydown(function (e) {
		          if ($(this).val().length > 300) {
		              if (e.keyCode != 8) {
		                  return false;
		              }
		          }
		      })


			//帳號列表
		  	var availableTags = ["12345678", "0088","OOOOXXXX1764","Carlos" , "carlos"
                /*
			      "ActionScript",
			      "AppleScript",
			      "Asp",
			      "BASIC",
			      "C",
			      "C++",
			      "Clojure",
			      "COBOL",
			      "ColdFusion",
			      "Erlang",
			      "Fortran",
			      "Groovy",
			      "Haskell",
			      "Java",
			      "JavaScript",
			      "Lisp",
			      "Perl",
			      "PHP",
			      "Python",
			      "Ruby",
			      "Scala",
			      "Scheme"
                  */
		    ];
		    function split( val ) {
		      return val.split( /,\s*/ );
		    }
		    function extractLast( term ) {
		      return split( term ).pop();
		    }

		    $( "#tags" )
		      // don't navigate away from the field on tab when selecting an item
		      .bind( "keydown", function( event ) {
		        if ( event.keyCode === $.ui.keyCode.TAB &&
		            $( this ).autocomplete( "instance" ).menu.active ) {
		          event.preventDefault();
		        }
		      })
		      .autocomplete({
		        minLength: 0,
		        source: function( request, response ) {
		          // delegate back to autocomplete, but extract the last term
		          response( $.ui.autocomplete.filter(
		            availableTags, extractLast( request.term ) ) );
		        },
		        focus: function() {
		          // prevent value inserted on focus
		          return false;
		        },
		        select: function( event, ui ) {
		          var terms = split( this.value );
		          // remove the current input
		          terms.pop();
		          // add the selected item
		          terms.push( ui.item.value );
		          // add placeholder to get the comma-and-space at the end
		          terms.push( "" );
		          this.value = terms.join( ", " );
		          return false;
		        }
		      });
		  });

		  function checkValidationOk(msg_member,msg_title, msg_content) {
		      var errMsg = '';
		      if (msg_member == null || msg_member == '') {
		          errMsg += "對象不能為空白\n";
		      }
		      
		      if (msg_title == null || msg_title == '') {
		          errMsg += "主題不能為空白\n";
		      }

		      if (msg_content == null || msg_content == '') {
		          errMsg += "訊息內容不能為空白!!\n";
		      } else if ($("#msg_content").val().length > 300) {
		          errMsg += "訊息不能超過三百字!!";
		      }
		      return errMsg ;
		  }

</script>